[2017-04-20 18:26] xiaomi7732 opened #3 "Deliver a good Readme.MD"
Need document to get people start up on this repo.

[2017-05-08 08:59] nizarq opened #6 "MS.AI.SF.Native depends on MS.AI.SF but doesn't install it for asp.net core projects"
I discovered that even though the native nuget package depends on the base (and describes this dependency in nuspec and it can be seen in manage nuget packages), installing the native package for asp.net core app did not install the dependency base nuget.

This might be similar to: https://github.com/NuGet/Home/issues/5130. Not sure if we can do anything about it on our end.

[2017-05-09 23:10] #6 closed, assigned to nobody

[2017-05-10 10:35] #3 closed

[2017-05-10 17:02] xiaomi7732 opened #11 "Update nuspecs before the next release"
Although we can hand editing some of the package info in nuget.org, it will save time in the long run to make the info accurate in nuget spec files. Could you please update the info there?

[2017-05-10 17:20] nizarq commented on #11
The following commit already takes care of that.  Let me know if that doesn't cover something.

https://github.com/Microsoft/ApplicationInsights-ServiceFabric/commit/82d10b0f0a0cc6478563e0c6261a7a8420d9fdb1

[2017-05-10 17:20] #11 closed

[2017-05-25 21:33] WillTartak opened #12 "Microsoft.ApplicationInsights.EventSourceListener for .net 4.5.1"
We are in the process of upgrading some of our services and would like to use the new ServiceFabric ApplicationInsights integration. We are currently running .net framework 4.5.1. Is there any way we can get Microsoft.ApplicationInsights.EventSourceListener to run on .net 4.5.1?

If this is the wrong place to publish this please point me in the right direction.

[2017-05-25 21:36] nizarq commented on #12
EventsourceListener has nothing to do with this repository but I think @karolz-ms may be able to answer this.

[2017-05-25 23:12] karolz-ms commented on #12
@WillTartak  No, sorry. EventSourceListener requires APIs that have been added to .NET Fx only in 4.6 (and core 1.0)

FWIIW .NET 4.6.1 has been the default framework for Azure VMs since October last year. It is a very safe bet and has a lot of bug fixes and improvements. Any specific reason to stay on 4.5.1?

[2017-05-26 00:59] WillTartak commented on #12
@karolz-ms I'm a consultant helping out with implementation. The call for Fx version is beyond my point of influence. I will let the appropriate folks know the issue. Thanks!

[2017-05-26 01:49] WillTartak commented on #12
@karolz-ms what is the appropriate repo for any further questions on this component and its brothers?

[2017-05-26 15:37] karolz-ms commented on #12
@WillTartak https://github.com/Microsoft/applicationInsights-dotnet-logging/

[2017-05-26 15:55] #12 closed

[2017-05-30 10:47] mkosieradzki opened #13 "[Proposal]Implement ITelemetryInitializer to handle UseUniqueServiceUrl"
ServiceFabric AspNetCore middleware has an option ServiceFabricIntegrationOptions.UseUniqueServiceUrl. This option generates service-specific unique urls - which makes ServiceFabric telemetry difficult to correlate.

See Azure/service-fabric-aspnetcore#18 .

IMO it would be really useful to have a telemetry initializer that strips autogenerated urls.

I can create a PR for this.

[2017-06-01 21:24] nizarq commented on #13
Sorry for the delayed response.

When you say it makes ServiceFabric telemetry difficult to correlate, what correlation are you talking about?
Are you talking about he following from https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/463:
[code]
What are the sources of the above telemetry? It seems like request telemtry is gathered by the request tracking module in the AI sdk, but

[2017-06-01 22:41] mkosieradzki commented on #13
@nizarq I apologize for making this confusing. I will try to clear this up:
1. Let's ignore the issue with Microsoft.ApplicationInsights.Message and let's focus on Microsoft.ApplicationInsights.Request telemetry which is generated by https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/801cf8a79ad34588611f133bde9c7c59a57dc783/src/Microsoft.ApplicationInsights.AspNetCore/DiagnosticListe

[2017-06-01 23:51] nizarq commented on #13
+ @vturecek to inject service fabric expertise into the discussion.

@mkosieradzki - Is ServiceFabricIntegrationOptions.UseUniqueServiceUrl only an asp.net core option. The problem it tries to solve - that of a different service using the same port after the original service had to be migrated - is not an asp.net core only possibility. Is there an equivalent for .net framework that we need to worr

[2017-06-02 00:33] mkosieradzki commented on #13
1. Reverse proxy is not involved here. Reverse proxy takes part only if someone uses UseForwardedHeaders - but this specific middleware does not play with paths (only Host and Scheme).
2. Yes I am removing arbitrary fragments in my prototype but I will switch to remove the proper prefix returned by the listener.
3. ASP.NET Core works on both .NET Core and .NET Framework so we only need to care abo

[2017-06-02 01:19] vturecek commented on #13
The middleware sets Path and PathBase accordingly on HttpRequest. Path contains just your API path, e.g., /api/values, while PathBase has the unique URL path segments, e.g., /partitionId/replicaId/GUID.

So rather than parse out the unique URL segments, can you just grab the value of Path?

[2017-06-02 01:24] mkosieradzki commented on #13
@vturecek I have explained why I can't do this in Azure/service-fabric-aspnetcore#18 . Basically middleware recovers previous Path and PathBase values so during OnStarting or OnCompleted when telemetry is being generated PathBase is set to / and Path is set to full path.

I was even proposing to alter this behavior for simplicity, but we agreed it's better to keep it as is for sake of consistency

[2017-06-02 22:34] vturecek commented on #13
@mkosieradzki Path and PathBase get reset for middleware that runs before the SF middleware, but any middleware that runs after will have the unique path in PathBase. So couldn't you just run your middle after the SF middleware?

[2017-06-02 22:40] mkosieradzki commented on #13
@vturecek Not really, because:
1. this middleware is registering Application Insights ITelemetryInitializer on which I have no control when it is run (it is run when request is completed so it has measurements of request time etc).
2. Any OnStarting or OnCompleted event is run on the reverted Path and PathBase.

[2017-06-02 23:10] vturecek commented on #13
@nizarq I see what @mkosieradzki is after now, this might be something we can handle in this package.
@mkosieradzki we can consider splitting the SF asp.net core packages if there's enough reason to take that on but I'd like to see if we can solve this particular problem for everyone.

[2017-06-03 00:13] nizarq commented on #13
Yeah this makes more sense now.
My only remaining concern is figuring out packaging.

Today - the nuget packages (`Microsoft.ApplicationInsights.ServiceFabric` and `Microsoft.ApplicationInsights.ServiceFabric.Native`) this repo ships are agnostic to the kind of application.
`Microsoft.ApplicationInsights.ServiceFabric.Native` deals with all reliable services (asp.net core, .net stateful or statele

[2017-06-03 08:35] mkosieradzki commented on #13
So I think we need two more packages:
`Microsoft.ApplicationInsights.SericeFabric.AspNetCore` and `Microsoft.ServiceFabric.AspNetCore.Abstractions`. I pretty much don't see a way around.

[2017-06-07 18:31] nizarq commented on #13
@mkosieradzki - I don't mind an extra package `Microsoft.ApplicationInsights.ServiceFabric.AspNetCore`. Please close on the discussion on `AspNetCore.Abstractions` and feel free to submit a PR with the new TelemetryInitializer and the associated nuget package project.

[2017-06-07 19:30] mkosieradzki commented on #13
@nizarq thanks.

When I get the green light on `AspNetCore.Abstractions` I will try to create a PR :).

[2017-06-22 00:01] nizarq opened #14 "[Proposal] Add support for automatic telemetry (request and dependency) collection for service remoting"
Application Insights already has pretty good support for http based service communication. That is, application insights modules can automatically intercept http based communication and generate request and dependency telemetry.

In Service Fabric, however, it is pretty common for services to communicate over [Service Remoting](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-r

[2017-07-25 19:50] ohadschn opened #15 "Track RunAsync exceptions"
RunAsync exceptions can have various consequences:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.runtime.statelessservice.runasync?view=azure-dotnet.

It stands to reason that such exceptions would be automatically logged by `ApplicationInsights-ServiceFabric` using `TelemetryClient.TrackException` (similar to how request exceptions are tracked by the ASP.NET Applica

[2017-08-01 17:38] brahmnes commented on #15
Hi Ohad,

Thank you for your suggestion. I think your suggestion is good and valid. For now, you can manually add that call in your RunAsync method. We will see how we can do that automatically from Application Insights SDK.

[2017-08-15 14:41] ohadschn opened #17 "Track service/actor life cycle"
It would be very handy to have automatic events tracked for the various life cycle events actors and services go through: startup, shutdown, communication listener open/close, abort, etc.

For more information: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-lifecycle.

[2017-08-17 04:54] aarondandy opened #18 "Using this with Actors & Service Bus"
I'm having trouble getting this to work well with actors and service bus. Is there any guidance as to how we should get this information added to our telemetry when logging events from within an actor instance or a message handler?

[2017-08-18 18:37] brahmnes commented on #18
Hi Aaron,

Do you have specifics on what's the problem? Is it data not getting logged to Application Insights, or they aren't logged with enough contextual information?

[2017-08-18 20:35] aarondandy commented on #18
If a request comes in through a Service Fabric listener it seems that the context information is added as I would expect, which is helpful. When I have code that may be executing within other usage scenarios however I either get no information appended at all or only the ServiceFabric.NodeName item. I have not found a pattern yet as to when I get the NodeName only vs. nothing. I think given that w

[2017-08-19 01:13] brahmnes commented on #18
Hi Aaron,

There is indeed a challenge where the ServiceContext may not be there sometimes. One option is when the service is constructed, call FabricTelemetryInitializerExtension.CreateFabricTelemetryInitializer, and associate the initializer with the TelemetryClient you use, then use the same TelemetryClient object for all the logging. This way, the initializer has its own values and won't look

[2017-08-24 11:20] Expecho opened #19 "Create Live Metrics Stream for Service Fabric Cluster"
I managed to create a working Live Metrics Steam environment in Application Insights that reflects the state of the cluster and the deployed applications, see https://github.com/DeHeerSoftware/Azure-Service-Fabric-Logging-And-Monitoring.

Is this on the roadmap for this repo as well? Is there a roadmap of upcoming features?

[2017-08-25 05:17] brahmnes commented on #19
Which specific feature are you referring to? Your repo mentioned several things, such as using serilog, and intercepting requests by hooking into ASP.NET core.

[2017-08-25 05:41] Expecho commented on #19
I specifically refer to the Live Metrics Stream. It shows the cpu and memory usage of the machines in the cluster and combined with the tracing of requests you have implemented in this repo it will show the rate of requests per second etc. See also https://azure.microsoft.com/en-us/blog/live-metrics-stream/

[2017-08-25 06:30] brahmnes commented on #19
If you are referring to tracing of ASP.NET requests, that's handled by the App Insights ASP.NET core SDK: https://github.com/Microsoft/ApplicationInsights-aspnetcore
If you are referring to tracing of service remoting requests, yes, a recent check in has been made to enable that, though it's not completely finished yet. We don't have plans for live stream support yet. Our current main focus is aut

[2017-08-25 13:11] ThiemeNL opened #20 "When is the next nuget release planned?"
Hi,

When can we expect to have a new nuget release?

The correlation support for remoting will be really nice.
https://github.com/Microsoft/ApplicationInsights-ServiceFabric/commit/12c217cc044235dc2c5e59942248009e0dfe6ddc

Thanks,
Thieme

[2017-08-25 18:16] brahmnes commented on #20
Thanks, good to know this is useful. Any feedback would be appreciated.
Still need to test and polish, probably within the next few weeks.

[2017-08-29 07:25] GuptaParitosh commented on #19
@brahmnes I am not able to see Incoming Request and outgoing Request Telemetry in live telemetry Stream Section in App insights. It shows only Server health of the machines in cluster.
 I am able to do tracing and exceptions log in application Insights for micro-services (service fabrics) using Microsoft.AI.Web Nu-Get Package.

Is their any way by which we can capture Telemetry for Live Metrics St

[2017-08-29 12:31] ThiemeNL commented on #20
Thanks, I'm looking forward to it.

[2017-08-29 16:55] brahmnes commented on #19
@Sergeykanzhelev, who may know the answer for sure about live stream.
For live stream, I think you need the Quick Pulse telemetry, which this SDK currently doesn't do. However, this SDK depends on other pieces of AppInsights SDK, like Microsoft.ApplicationInsights,Web for the ASP.NET core case, so you can use Quick Pulse from that.

In my testing, I do see data in the overview timeline, like serve

[2017-08-29 17:25] Expecho commented on #19
@GuptaParithos for the Live Stream you do indeed need the Quick Pulse telemetry but it requires some setup, see the initialization in our repo, https://github.com/DeHeerSoftware/Azure-Service-Fabric-Logging-And-Monitoring/blob/master/src/ServiceFabric.Logging/ApplicationInsights/LiveStreamProvider.cs. You will need to include some additional assemblies as outline in the repo as well.

[2017-08-31 22:22] #18 closed

[2017-09-16 08:19] yantang-msft commented on #20
We've just published 1.1.0-beta1 with the correlation support. Any feedback is welcomed.
https://www.nuget.org/packages/Microsoft.ApplicationInsights.ServiceFabric.Native/1.1.0-beta1

[2017-09-16 08:19] #20 closed

[2017-09-19 14:12] #19 closed

[2017-09-19 15:45] SergeyKanzhelev commented on #19
Some details on live stream enablement http://apmtips.com/blog/2017/02/13/enable-application-insights-live-metrics-from-code/

Sorry, missed this question.

[2017-09-19 17:30] brahmnes commented on #14
Now implemented with the new Correlating* classes.

[2017-09-19 17:30] #14 closed

[2017-09-22 07:21] aloneguid opened #24 "MessageHandler for Actors?"
Brilliant piece of code, thank you. I can't figure out though how to initialise message handler for Actors on server side. The client is passing the headers, however where do I place the code in `Actor` implementation to pick them up similar to `CreateServiceInstanceListeners()` in reliable services?

[2017-09-22 07:35] yantang-msft commented on #24
You can override the CreateServiceReplicaListeners() method of ActorService to add the message handler like this
[code]

And host your actor using this service
[code]

[2017-09-22 16:08] aloneguid commented on #24
works like a charm, thank you!

[2017-09-22 17:03] #24 closed

[2017-09-25 16:10] n3gwave opened #25 "Fabric telemetry data is not available in destination service."
Assuming we have two services A and B, both with OwinCommunicationListener and FabricTransportServiceRemotingListener with CorrelatingRemotingMessageHandler in place, when calling service A using REST which in turn calls service B using internal fabric communication then correlation data is propagated correctly but service fabric data (I mean ServiceName, ApplicationName. I know that RoleInstance

[2017-09-25 17:55] yantang-msft commented on #25
Is it a problem even without the CorrelatingRemotingMessageHandler? This message handler has nothing to do with collecting the service fabric data.

One possible reason of not getting service fabric data is the logicalCallContext (which you set using FabricTelemetryInitializerExtension.SetServiceCallContext) get lost during managed/unmanaged thread transition. If this happens in the callstack, her

[2017-09-28 22:53] #25 closed

[2017-09-28 23:00] yantang-msft opened #26 "[Proposal] Pass appId for ServiceRemoting correlation message handler"
To make AI app map fully work with ServiceRemoting, we need to pass the appId as well. This is low priority.

[2017-09-29 08:17] mikanyg opened #27 "Need documentation on integrating AI config file with SF config API"
I am unable to figure out whether the applicationinsights.config should be placed in project root or in the PackageRoot\Config folder, as it should be when using **Microsoft.Diagnostics.EventFlow.Outputs.ApplicationInsights**

I need to load the content of applicationinsights.config on startup and set it as the default configuration for all TelemetryClient instances used in SF services.

[2017-09-29 15:37] karolz-ms commented on #27
I believe the answer to this is "does not matter--place the config file where AI SDK can find it" :-)

The simplest thing for an SF app is to load configuration explicitly from a well-known location, like SF AI output does it for example https://github.com/Azure/diagnostics-eventflow/blob/master/src/Microsoft.Diagnostics.EventFlow.Outputs.ApplicationInsights/ApplicationInsightsOutput.cs#L148

If y

[2017-09-29 22:45] mikanyg opened #28 "Reference to type 'IServiceRemotingMessageHandler' claims it is defined in 'Microsoft.ServiceFabric.Services.Remoting', but it could not be found"
Looks like the IServiceRemotingMessageHandler has changed namespace in SF 2.8, which is a breaking change.

This break the feature for tracing remote calls using SF remoting (V1)

[2017-10-02 06:02] brahmnes commented on #28
Hi Mikael,

Thank you for reporting. This is an important blocking issue and we will look into it.

[2017-10-02 21:06] mikanyg commented on #27
In my simple test, I could not get the default telemetry intializers and processors from MS.AI.WindowsServer nuget package to work when I was using the eventflow approach where the ai.config was located in PackageRoot/Config folder.

We are already using eventflow with AI as output, and I have been experimenting with adding the other AI nuget packages (WindowsServer, SnapshotCollector and ServiceF

[2017-10-02 21:54] karolz-ms commented on #27
Please share the configuration that you are trying to enable (e.g. the "simple test" one) and I will see if there is a way to make it work--thx!

[2017-10-09 20:34] mikanyg commented on #27
I am working on a simple setup, to repro this behaviour, but can't say when It'll be ready.

[2017-10-10 07:00] esbenbach opened #35 "Service Remoting Trace Correlation using Actors"
I am trying to get the service remoting correlation to work using actors.
Following the instructions of the README.md it  should be straight forward, but of course there are subtle differences when using Actors instead of stateless services.

On the client side I create a proxy as follows:

	string actorUrl = "fabric:/MyApp/MyActor";
	Guid id = Guid.NewGuid();
	var proxyFactory = new CorrelatingAc

[2017-10-10 18:28] brahmnes commented on #35
On the client side, you should pass in a service context object to CorrelationActorProxyFactory. Without it, you lose a lot of contextual information, such as service name, about the traces logged by the client.

On the actor side, try calling the CorrelatingRemotingMessageHandler constructor that takes the ActorService, which in you case it's just "this". It will pull out the service context from

[2017-10-16 10:21] Eneuman opened #36 "Support for .Net Core 2?"
What is the plan for releasing a nuget package supporting the new .Net 2.0 Core templates in ServiceFabric Tools 2.0 preview?

[2017-10-17 11:37] artsai opened #37 "Could you please show project examples?"
Could you please show examples for Stateless WebApi and Remoting?
So with this AI Sdk, I don't have to setup ServiceEventSource anymore, and just create TelemetryClient singleton instead, correct?

[2017-10-17 20:40] nizarq commented on #37
Readme is your friend here. [Set the context](https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/develop/README.md#net-framework-1) from your service entry points. For trace correlation using service remoting, [make sure you follow this](https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/develop/README.md#trace-correlation-with-service-remoting).

Finally, you cou

[2017-10-17 20:40] #37 closed

[2017-10-19 01:28] nizarq commented on #36
Thanks for asking. I'll look into it and give an update soon.

[2017-10-19 22:21] nizarq commented on #15
@SergeyKanzhelev @Dmitry-Matveev
I read about `Microsoft.ApplicationInsights.WindowsServer.UnhandledExceptionTelemetryModule` and `Microsoft.ApplicationInsights.WindowsServer.UnobservedExceptionTelemetryModule` in the [config reference](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-configuration-with-applicationinsights-config).

Where can I read more about them? How to

[2017-10-19 22:54] SergeyKanzhelev commented on #15
`(new UnhandledExceptionTelemetryModule()).Initialize(TelemetryConfiguraiton.Active)` or simply add it into the list of telemetry modules in `ApplicationInsights.config`.

[2017-10-20 00:04] nizarq commented on #15
Cool! Closing this for now since this addresses automatic capturing of unhandled exceptions.

I future we can take a holistic look at smart defaults - as in - what set of AI sdks should be added by default for service fabric projects (based on the type of project). For now the model is that the user would use AI.SF nuget package to compliment other AI sdks. The other sdks are added and configured

[2017-10-20 05:06] ohadjas commented on #15
Mentioned the wrong Ohad there

________________________________
From: Nizar Qamar <notifications@github.com>
Sent: Friday, October 20, 2017 3:04:54 AM
To: Microsoft/ApplicationInsights-ServiceFabric
Cc: Ohad Jassin; Mention
Subject: Re: [Microsoft/ApplicationInsights-ServiceFabric] Track RunAsync exceptions (#15)

Closed #15<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.

[2017-10-20 18:44] nizarq commented on #15
oops - sorry!

[2017-10-20 21:09] nizarq opened #38 "[Proposal] Add telemetry to ascertain usage of ApplicationInsights.ServiceFabric"
For telemetry generated / updated by AI.SF nuget, we need to have a way to mark it so that usage numbers can be ascertained.

[2017-10-20 21:34] nizarq commented on #38
Mostly telemetry modules use the TelemetryContext.InternalContext.SdkVersion to identify which module / sdk version generated a given telemetry item. In the AI.SF case, we are actually mainly updating telemetry generted by other modules through the TelemetryInitializer, this means the sdk version is already set.
We have a few options:
1. Append some string to the existing string to add additional

[2017-10-24 12:24] ohadschn commented on #15
Hi @nizarq,

I am aware of `UnhandledExceptionTelemetryModule` and `UnobservedExceptionTelemetryModule` but neither will be triggered when an exception is thrown from `RunAsync` as the latter would catch it (and handle per the [docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.runtime.statelessservice.runasync?view=azure-dotnet)).

[2017-10-28 22:35] mikanyg opened #39 "[Question] Should I call SetServiceCallContext(ServiceContext) in multiple places?"
I am using the Native package to enrich my application insights telemetry, but I have noticed that not all telemetry is enriched with details from the ServiceContext, set by the call `FabricTelemetryInitializerExtension.SetServiceCallContext(ServiceContext)` at startup in the SF Service class.

Many of our SF microservices use Owin based Web Api Contollers, RabbitMq message handlers and HangFire J

[2017-10-28 22:37] mikanyg commented on #28
Has this issue been fixed with the V2 beta release?

[2017-10-30 00:25] brahmnes commented on #28
Hi Mikael,

Yes, it's fixed now in the 2.0 beta release of this nuget.

[2017-10-30 00:25] #28 closed

[2017-10-30 16:55] brahmnes commented on #35
Hi Esben,

I assume my response answered your question. If not, feel free to reactivate this issue.

[2017-10-30 16:55] #35 closed

[2017-10-30 18:23] nizarq commented on #39
Hi @mikanyg,
For Owin based api controllers, my experience has been that you just need to set call context when you create service listeners.

However, all `FabricTelemetryInitializerExtension.SetServiceCallContext(ServiceContext)` does is that it sets a property bag on the logical CallContext. Remember that CallContext is associated with Tasks (not threads - as thread pool threads are a shared re

[2017-10-30 18:23] #39 closed

[2017-10-31 01:05] DeanJMitchell opened #40 "FabricElementAlreadyExistsException thrown when calling a stateful service"
When using the CorrelatingServiceProxyFactory quite often an FabricElementAlreadyExistsException is thrown.

This has happened during a period of idleness, but can be more easily reproduce by disabling a node and calling the service when it is disabled.

I am not sure exactly which line is throwing the exception but this is an example of us calling one of the services.
var partitionKey = new Servi

[2017-10-31 18:40] nizarq commented on #15
I see. Let me reactivate this issue so that it stays on the backlog.

[2017-11-03 21:38] mikanyg commented on #40
I have seen the same in our logs

[2017-11-03 21:48] mikanyg opened #41 "[Proposal] TelemetryInitializer to set Component.Version from CodePackageVersion"
I suggest to add a TelemetryInitializer that sets the ITelemetry.Context.Component.Version based on the CodePackageVersion.

Very simple version:

public class ServiceFabricComponentVersionTelemetryInitializer : ITelemetryInitializer
{
   public void Initialize(ITelemetry telemetry)
   {
      var activationContext = FabricRuntime.GetActivationContext();
      telemetry.Context.Component.Version =

[2017-11-06 17:30] karolz-ms commented on #40
Sounds like a bug. We should probably check here https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/develop/src/ApplicationInsights.ServiceFabric.Native/Net45/CorrelatingServiceRemotingClient.cs#L131 whether the header exists or not and replace the value when it does, instead of trying to add it.

Thanks for reporting!

[2017-11-07 07:21] Eneuman commented on #36
Any news about this ?

[2017-11-07 17:43] brahmnes commented on #40
Fix is currently in progress

[2017-11-07 18:54] brahmnes commented on #36
Thanks for checking. This is still work in progress

[2017-11-07 23:39] brahmnes commented on #41
Hi Mikael,

Thank you and this is a good suggestion. Do you mind submitting a PR?

[2017-11-15 01:05] brahmnes commented on #41
2.0.1-beta1 has been released with this change.

[2017-11-15 01:05] #41 closed

[2017-11-15 01:05] brahmnes commented on #40
Fix in 2.0.1-beta1

[2017-11-15 01:05] #40 closed

[2017-11-15 17:00] brahmnes commented on #26
For service fabric the recommendation is to use the same AI ikey for different services. This can be revisited if that changes.

[2017-11-15 17:00] #26 closed

[2017-11-15 17:09] brahmnes commented on #36
Hi Eneuman

We did some investigations and it appears the ApplicationInsight.ServiceFabric nuget should just work in .NET Core 2.0. This covers general usage of TelemetryClient and HTTP auto dependency/correlation tracking.

However, we found that with Microsoft.ServiceFabric.Services.Remoting 3.0 and above, the service remoting V1 API has been removed, only the service remoting V2 API is present.

[2017-11-15 17:23] Eneuman commented on #36
Hi

I'm trying to use Microsoft.ApplicationInsights.ServiceFabric.Native 2.0.1-beta1 against a Service Fabric.Net Core 2 "netcoreapp2.0" service.
The problem is that the nuget package only supports: .NetFramework, Version 4.5 by the description of the dependencies.

Any chance we can get a Microsoft.ApplicationInsights.AspNetCore.ServiceFabric.Native thats works with .NetStandard Version 1.6 ?

[2017-11-15 17:40] brahmnes commented on #36
Hi Eneuman,

Unfortunately because Microsoft.ApplicationInsights.ServiceFabric.Native has a dependency on the service remoting V1 API, it cannot be built against .NET standard right now. You can only use Microsoft.ApplicationInsights.ServiceFabric.

I agree and understand this is undesirable. We do have a goal to get Microsoft.ApplicationInsights.ServiceFabric.Native running on .NET standard.

[2017-11-16 14:17] htuomola commented on #36
Good to see that this has already been raised but just wanted to add that I think enabling this will also enable support for Service Fabric V2 remoting itself (which people might be using also even without asp.net core 2.0, e.g. for custom serialization).

[2017-11-21 22:29] berndku opened #48 "Service Remoting v2 Support"
It seems CorrelatingServiceProxyFactory and CorrelationgActorProxyFactory support only Service Remoting V1. What are the plans to support Service Remoting v2 in addition to Remoting v1 ?

[2017-11-29 09:57] mgrishkov opened #49 "Unable to reproduce sample from documentation"
Dear team, I've repeated all steps from "[Monitor and diagnose an ASP.NET Core application on Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-monitoring-aspnet)" till the paragraph "View telemetry and the App map in Application Insights". As described in documentation at the step I should see events in Azure Application Insight. Unfortunately, I didn't

[2017-11-29 19:17] brahmnes commented on #48
This is currently being looked at. See related issue:
https://github.com/Microsoft/ApplicationInsights-ServiceFabric/issues/36

[2017-12-01 05:27] mgrishkov commented on #49
Hey, Are there anyone?

[2017-12-01 16:57] karolz-ms commented on #49
Looks like PerfCounterCollector has trouble.

@SergeyKanzhelev @cijothomas @Dmitry-Matveev any idea how to diagnose this?

[2017-12-04 22:17] SergeyKanzhelev commented on #49
@mgrishkov I see two separate issues here:
1. log says `(unconfigured)` meaning that instrumentation key was not set properly. Please make sure proper instrumentation key was set in `ApplicationInsights.config` or `settings.json` on [this](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-monitoring-aspnet#add-application-insights-to-the-applications-services) step. If

[2017-12-05 06:52] mgrishkov commented on #49
@SergeyKanzhelev you are right the cause of the error was invalid Application Insight configuration.
Now everything works fine.

[2017-12-05 06:52] #49 closed

[2017-12-06 23:15] nizarq opened #50 "Service Remoting emitted performance counters are not easy to collect using WAD2AI"
Service Remoting emits performanc counters like below:

| Category name | Counter name | Description |
| --- | --- | --- |
| Service Fabric Service |# of outstanding requests |Number of requests being processed in the service |
| Service Fabric Service |Average milliseconds per request |Time taken (in milliseconds) by the service to process a request |
| Service Fabric Service |Average millisecond

[2018-01-17 08:13] berndku opened #53 "Exception telemetry on Connection Retries (Service Remoting)"
We instrumented an Actor Proxy with CorrelatingActorProxyFactory. Whenever the Proxy Client does a retry (e.g. because the endpoint retrieved from the naming service is no longer valid), the following exception is traced to Application Insights, even though the remoting call was successful:

Error in Connection during ServiceCommunicationException from HRESULT: 0x80071C4C

We feel that moving proc

[2018-01-22 10:41] berndku commented on #53
The exception seems to originate from the UnobservedExceptionTelemetryModule. If we remove the module, the exception is no longer traced.

[2018-01-22 19:52] berndku commented on #53
Thanks for the explanation! In my opinion, service fabric framework should not throw an UnobservedtaskException in the case of retries. Will move this issue to the Service Fabric project and close this one.

[2018-01-22 19:52] #53 closed

[2018-01-25 22:16] nizarq commented on #13
Hi @mkosieradzki - I noticed that the abstractions package is now available. Is this issue still something of interest to you? Do you plan to submit a PR or should we close it due to lack of interest?

[2018-01-25 22:23] mkosieradzki commented on #13
Hi @nizarq I will try to revisit this issue next month. I hope I can get ApplicationInsights-ServiceFabric working with .NET Standard...

[2018-01-25 22:26] nizarq commented on #13
I have a change that will allow you to do that. I'll merge it soon.

[2018-02-03 19:15] johnkattenhorn commented on #50
Hey @nizarq - we found that we could pick these up by deploy OMS Agent ... however we can see the performance counters but the CounterValue is always zero.

[2018-02-06 02:15] nizarq commented on #50
Hi @johnkattenhorn - I don't really have any OMS agent experience.
May be @keikhara can answer how performance counter collection happens using the OMS agent and how you can troubleshoot.

[2018-02-13 22:38] yantang-msft opened #54 "Leverage asp.net core 2.0 hosting startup to simplify the usage"
Currently for asp.net core, user need to inject the telemetry initializer manually (and request/dependency tracking module later once this is checked in https://github.com/Microsoft/ApplicationInsights-ServiceFabric/pull/51).
We can leverage the hosting startup functionality to avoid such manual work. AI Kubernetes sdk already implemented that in this release https://github.com/Microsoft/Applicati

[2018-02-15 18:07] yantang-msft opened #55 "Service Remoting correlation is not fully working with AppInsights when send to multiple ikeys"
I tested this PR https://github.com/Microsoft/ApplicationInsights-ServiceFabric/pull/51, and the correlation is not fully working when sending to multiple ikeys.
I'm using this project for testing: https://github.com/yantang-msft/service-fabric-dotnet-getting-started/tree/TestRemoting.
More specifically
1) the request telemetry of stateless service doesn't have the source component name.
2) the de

[2018-02-15 22:24] yantang-msft commented on #55
I've verified this is because of the timing issue for the very first telemetries. The component info will be embedded in target/source once the app id info are retrieved.

[2018-02-15 22:24] #55 closed

[2018-02-26 23:37] yantang-msft commented on #48
Trace correlations are supported in V2 now. https://github.com/Microsoft/ApplicationInsights-ServiceFabric/releases/tag/2.1.0-beta1

[2018-02-26 23:37] #48 closed

[2018-02-27 22:36] brahmnes commented on #36
.NET core 2.0 is supported now. https://github.com/Microsoft/ApplicationInsights-ServiceFabric/releases/tag/2.1.0-beta1

[2018-02-27 22:36] #36 closed

[2018-04-04 09:46] ifle opened #57 "How to integrate AI to Guest exe Service Fabric?"
How to integrate AI to Guest Executable Service Fabric?
I'm not found any sample how to do that.

Thanks

[2018-04-04 15:08] fbeltrao opened #58 "Add Live Stream support to OWIN based Services"
In OWIN based web application requests will not show up in the Application Insights Live Stream.
A solution to this problem is to use a QuickPulseTelemetryModule on the application like this [post describes](http://apmtips.com/blog/2017/02/13/enable-application-insights-live-metrics-from-code)

Ideally this should be built-in, or at least have a reference implementation in this repository.

[2018-04-04 17:55] brahmnes commented on #57
For Guest Executable, there aren't much other than just including the Microsoft.ApplicationInsights.ServiceFabric nuget into the project that built the guest exe. You cannot include Microsoft.ApplicationInsights.ServiceFabric.Native because this nuget has references to the Service Fabric runtime and presumably your guest exe doesn't reference the Service Fabric runtime.

After that, you can includ

[2018-04-04 18:00] brahmnes commented on #58
Yes, what you said is correct.
We can start with a pointer to the blog post link you mentioned. Do you want to submit a PR to our readme?

[2018-04-04 18:12] ifle commented on #57
The guest exe is C++ server. That is strange that there are not any way send the basic telemetry like CPU, Memory to AI.

[2018-04-04 20:39] brahmnes commented on #57
If you want machine wide performance counters sent to AI, the best option is to use Windows Azure Diagnostics, commonly what we call the WAD agent.

This document describes that with info on how to set it up
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-overview

[2018-04-05 06:29] fbeltrao commented on #58
@brahmnes: I figured out that you can do it without code, just changes to the Application Insights config file. I will submit a PR

[2018-04-06 16:15] #58 closed

[2018-04-07 01:32] Tadimsky opened #60 "Could not load file or assembly 'Microsoft.AI.ServiceFabric.Native, Version=2.1.0.0, Culture=neutral, PublicKeyToken=f23a46de0be5d6f3' or one of its dependencies."
Hey,
I'm getting an error when trying to use Microsoft.AI.ServiceFabric.Native in a `.NET Framework` service. My `.NET Core` services are working just fine.

Here is the error:

  HResult=0x80131040
  Message=Could not load file or assembly 'Microsoft.AI.ServiceFabric.Native, Version=2.1.0.0, Culture=neutral, PublicKeyToken=f23a46de0be5d6f3' or one of its dependencies. The located assembly's manif

[2018-04-09 16:11] yantang-msft commented on #60
Did you replace this service fabric dll? It's not strong name signed.
Calling assembly : Microsoft.Intentional.Services.Utilities.ServiceFabric, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null.

[2018-04-09 16:48] Tadimsky commented on #60
No, I did not do anything special other than add the nuget package references.

[2018-04-09 23:57] yantang-msft commented on #60
The .net core Servicefabric.Native.dll is indeed not signed. The fix is released with version 2.1.1-beta1. Thank you for reporting this issue.

[2018-04-10 00:46] Tadimsky commented on #60
That seems to have fixed it for me! Thank you :)

[2018-04-10 00:47] #60 closed

[2018-04-11 06:41] SergeyKanzhelev opened #61 "Disable unnecessary performance counters in default configuration"
Moved from https://github.com/Microsoft/ApplicationInsights-Home/issues/166

Originally reported by @Eneuman

[2018-04-11 18:34] yantang-msft commented on #61
@Eneuman You can clear the default perf counters and add the CPU/Mem counters for each services like below, and use WAD to collect CPU/Mem for each server.
[code]

Or you can just use WAD to collect perf counters for both server and all services. In this case, you can simply remove the perf counter module
[code]

[2018-04-22 05:18] alexmarshall132 opened #62 "Using Application Insights with Service Fabric V1 remoting causes request tracking failure"
Version: 2.1.0-beta1

Stack Trace:
[code]
Repeatability: Every time, consistently when using V1 remoting with instructions provided in readme.md with Full Framework Stateless service.

[2018-04-24 19:14] yantang-msft commented on #62
@alexmarshall132 I just tried and can't repro the issue you had. Could you share a simple project that repros?

[2018-04-27 01:31] alexmarshall132 commented on #62
Hi Yanming,

I'll work on getting you a sample ASAP, it's been a busy week

On Tue, Apr 24, 2018 at 1:14 PM, Yanming Tang <notifications@github.com>
wrote:

--
Alex

[2018-04-27 18:02] andrewdmoreno opened #63 "SF Context Variables not applied to dependent service"
I am utilizing the Microsoft.ApplicationInsights.ServiceFabric.Native (2.1.1-beta1) package in my Service Fabric application mostly to great success. I have one particular service, however, that does not seem to be populating the SF context properties correctly.

The situation is essentially when Service A is making a remoting (V2) call to Service B which is a StatefulService.

On the Service A si

[2018-05-02 20:31] brahmnes commented on #63
Hi Andrew,

Unfortunately the SetServiceCallContext method is not as reliable as it should be. Basically it relies on the CallContext to track the ServiceContext object, and this context can be absent or different depending on the execution flow. For example, if it enters native code and back to managed code, the context can be lost. In absence of the context, FabricTelemetryInitializer attempts t

[2018-05-02 20:53] andrewdmoreno commented on #63
@brahmnes Thanks I will give that a try. Should that be in place of the line currently here or in addition to?

[code]

[2018-05-02 21:05] brahmnes commented on #62
Hi Alex,

Which version of Application Insights SDK are you running? Is it 2.3 or 2.4+?

[2018-05-02 21:09] brahmnes commented on #63
In your context, it is service B that is getting the right context, so you want do that only in the constructor for service B.

Having said that, I forgot to mention that this workaround is ok only if the process is not shared by multiple service instances. The reason is TelemetryConfiguration.Active is a singleton.

[2018-05-02 21:13] brahmnes commented on #57
@ifle,
I am closing this issue assuming the question is answer. If not, please reactivate.

[2018-05-02 21:13] #57 closed

[2018-05-02 21:15] brahmnes commented on #61
@Eneuman,
Using WAD with Service Fabric can be found here:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-aggregation-wad

I assume the question is now answered and I am closing this issue. If you think it's not, please feel free to reactivate.

[2018-05-02 21:15] #61 closed

[2018-05-02 21:18] andrewdmoreno commented on #63
Did you mean Service A is getting the right context? Service A is the one that has it's values populated correctly.

[2018-05-02 21:19] brahmnes commented on #63
Sorry I mistyped my message above.
I meant service B that is NOT getting the right context. For the service that is not getting the right context, its constructor needs to have its telemetry initializer attached with the context explicitly.

[2018-05-04 01:00] Tadimsky opened #64 "Operation to stop does not match the current operation."
I'm getting an error using the Service Remoting telemetry.
It appears that the operation that is being stopped is invalid:

It looks like Application Insights is trying to stop `a2a37cb4_` but it's currently running activity `a2a37cb4_1`. Notice the `1` at the end.

Any ideas why this would be happening?
I'm using 2.1.1-beta1

[2018-05-04 03:40] SergeyKanzhelev commented on #64
CC: @lmolkova

[2018-05-04 17:46] lmolkova commented on #64
It seems like a known issue: https://github.com/Microsoft/ApplicationInsights-dotnet/issues/693
Which is likely a side effect of https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/723, that reproduces when debugging the app in Visual Studio.

If it is this issue, it should be fixed in Microsoft.ApplicationInsights.DependencyCollector 2.6.0-beta3  and Microsoft.ApplicationInsight

[2018-05-14 11:26] an4286sc commented on #64
I'm getting this error message too in my current project. But only in production. Not while debugging locally. I'm using this telemetry client methods:
TrackAction
TrackTrace
TrackException

No StartOperation or StopOperation.

The Application Insights message is: "AI (Internal): Operation to stop does not match the current operation." No further informations.

[2018-05-14 23:40] yantang-msft commented on #64
@an4286sc What's the service fabric runtime and AI ServiceFabric version you are on?
Are you using Reliable Service or Actors? Remoting V1 or V2? Did you by any chance use [Shared Process hosting model in Servicefabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-hosting-model).
The StartOperation and StopOperation will be called automatically when the request is coming to

[2018-05-16 08:52] an4286sc commented on #64
@yantang-msft
Thanks for your reply. The error occurs in the stateless serivce with remoting v2 and shared process hosting. We are using AI Service Fabric 2.1.1-beta1.

See the query results in the attached file.
[ai_stop_operation_failure.zip](https://github.com/Microsoft/ApplicationInsights-ServiceFabric/files/2008246/ai_stop_operation_failure.zip)

[2018-05-16 10:24] mkomorowsk opened #65 "ExclusiveProcess tracing of remote calls does not pass operationId"
Hi
we have a setup with several services that all live in their separate processes (ExclusiveProcess) and they communicate using remoting V1. I have used the setup described but can't get the operationId passed to the service being called. I log the operationId from the caller and then from callee - it comes as some hashed value. Are we going to be happy with this, or exclusive processes are not s

[2018-05-16 17:46] Expecho opened #66 "Timeline for non-preview release"
Hi there, just want to know what the roadmap & timeline is for this package. What needs to be done before a non-preview nuget can be released?

[2018-05-16 22:09] yantang-msft commented on #65
@mkomorowsk What's the AI SDK version? It should be at least 2.4.0.
Can you also try running this query?
```dependencies | where cloud_RoleName == "Stateless1" | distinct id```
You should see the id in the format like [here](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HierarchicalRequestId.md#overview), they will let us know if the correlation is workin

[2018-05-16 22:35] yantang-msft commented on #64
@an4286sc I do see discrepancies of the operation ids. And what's the version of Microsoft.ServiceFabric.Services.Remoting? Can you try exclusive process model and see if that solves the problem?
I can try the shared process model later this week and see if I can reproduce the issue. If so, we will keep investigate in how to make it work with shared process model.

[2018-05-18 15:26] yantang-msft commented on #65
If you set it up correctly, it should track the dependency telemetry. If no dependency telemetry is sent, most likely there is something wrong with the setup and thus the correlation is not working.

So you added the ```CorrelatingServiceProxyFactory``` in to the Stateless1 service as described here?
https://github.com/Microsoft/ApplicationInsights-ServiceFabric#remoting-v1

Can you also check the

[2018-05-22 12:16] vitorrossetto2 opened #67 "Can't use application insights"
Hi,

I am trying to use integration between application insights and an API project (ASP.NET Core) inside service fabric (as a stateless reliable service). I followed the instructions at this link https://github.com/Microsoft/ApplicationInsights-ServiceFabric and made changes to my config file but the telemetry still not working!

Here is what I configured:

https://ibb.co/hOB15o

Can you help me

[2018-05-22 12:20] vitorrossetto2 opened #68 "Can't use application insights"
Hi,

I am trying to use integration between application insights and an API project (ASP.NET Core) inside service fabric (as a stateless reliable service). I followed the instructions at this link https://github.com/Microsoft/ApplicationInsights-ServiceFabric and made changes to my config file but the telemetry still not working!

Here is what I configured:

https://ibb.co/hOB15o

Can you help me

[2018-05-22 13:33] mkomorowsk commented on #65
I did all as described for V1 and then too for V2 of remoting. I don't get dependecies tracked in any of the solutions.
The attribute for remoting v2 I had to add by hand, coz it was not added by VS. Still trying to find a reason for dependencies not to work.

[2018-05-22 16:27] yantang-msft commented on #68
@vitorrossetto2 You want to follow this doc to enable AI first for the Asp.Net Core project. https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Getting-Started

From what I see, the UseApplicationInsights() is missing in the WebHostBuilder.

[2018-05-22 18:07] yantang-msft commented on #65
@mkomorowsk I created a simple example for you to reference using Remoting V2. https://github.com/yantang-msft/service-fabric-application-insights-example/tree/master

You can find more examples if the above one is not enough
https://github.com/yantang-msft/service-fabric-dotnet-getting-started/tree/TestRemoting

[2018-05-22 18:26] #68 closed

[2018-05-22 20:45] vitorrossetto2 opened #69 "How to configure on stateless remoting v2 service"
Hi,

Even reading the documentation i could not figure out where i have to configure the telemetry client to monitor my stateless project with remoting v2.

It don't have a WebHostBuilder to UseApplicationInsights() and services.AddApplicationInsightsTelemetry(chaveInstrumentacaoApplicationInsights);

please help me!

Thanks.

[2018-05-22 21:21] yantang-msft commented on #69
@vitorrossetto2 Checkout this example and see if it helps.
https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs#L30

[2018-05-23 14:48] vitorrossetto2 commented on #69
Hi,

Thank you, i managed to make it work with this tip but it still dont map the database requests =(

any idea what is happening?

here is the print of application map:

https://ibb.co/iYdMqo

thank you so much

[2018-05-23 16:38] yantang-msft commented on #69
@vitorrossetto2 What do you mean by "map the database requests"? Do you mean you are calling sql database but the sql db node is not showing up?

[2018-05-23 16:44] vitorrossetto2 commented on #69
yes, these microservices are making requests to sql server databases via dapper and entity framework but the nodes dont appear in application insights.

[2018-05-23 17:22] yantang-msft commented on #65
What kind of traces are you expecting? Your own traces or metrics telemetry that are generated automatically? For you own traces, you will still need a telemetryClient and call TrackTrace(). And the traces will be correlated automatically with the operation_id coming from the caller. It would be tricky if you want to use you own GUID, and I'm not sure if it's a good idea to use your own GUID since

[2018-05-23 17:29] karolz-ms commented on #65
@mkomorowsk Do not create the telemetry object imperatively and do not use the channel directly like in the example you gave above. This bypasses pretty much the whole AppInsights pipeline, which usually has telemetry processors that you want, enriching telemetry with context, doing sampling/filtering etc. Use TelemetryClient, like Yanming said

[2018-05-23 17:30] yantang-msft commented on #69
The example only added the SF specific modules (that tracks the Service Remoting calls).
The sql requests are more general dependency calls and they are captured by the DependencyCollectorModule. If you add the AI AspNetCore package, it will bring in that module automatically.
I've updated my example, checkout the StatelessBackend service to see how it is setup.

[2018-05-23 17:55] brahmnes commented on #66
Hi @Expecho
We are working through a few more bugs, which after that we make this a non-preview.
Thank you and everyone for providing feedback and filing issues, which enabled us to discover and fix these issues.

[2018-05-24 00:46] yantang-msft commented on #64
@Tadimsky @an4286sc I have reproduced this issue and identified the root cause, it's happening for me after I upgraded Microsoft.ApplicationInsights.AspNetCore 2.3.0-beta2. Hopefully you're seeing this error for the same reason.

We are working on the fix, but for some process reason, it will take some time before we can release the fix. A temporary workaround would be downgrade the Microsoft.Appl

[2018-05-24 01:08] Tadimsky commented on #64
@yantang-msft I am on `2.3.0-beta1`, do you think this version is affected as well?

[2018-05-24 08:05] Expecho commented on #66
Ok great to hear, I really appreciate the work you guys did!

[2018-05-24 08:05] #66 closed

[2018-05-24 12:11] mkomorowsk commented on #65
Thanks, both of you for help. I am back to tracing with TelemetryClient then.

Maybe some explanation:
The thing with GUID as an operation Id is that we're not using any web API facade to let the requests enter the SFC services. We have a service that picks the messages from Service Bus and does processing of them with help of several other SFC services we have. If there's any failure in the proce

[2018-05-24 16:16] yantang-msft commented on #64
@Tadimsky Yes, I confirm 2.3.0-beta1 is also affected.

[2018-05-24 16:46] yantang-msft commented on #65
@mkomorowsk So the "magic" is when webApi receives a request, it will start an [Activity](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs). the Activity is where the operationId is initialized, and service remoting set the telemetry's correlation info (operation_id, parentId and its own telemetry id) from Activity.Current.
You

[2018-05-24 17:31] karolz-ms commented on #65
Also take a look at https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking

[2018-05-25 18:33] n3gwave opened #71 "CorrelationServiceRemotingClient and listener don't resolve method name at all causing telemetry operation name being always 0."
Hi, there is a bug in resolving correct operation name both in client and listener. Operation name should be a calling method name but it's always 0 instead. The reason for that is invalid type name string in ctor in class ServiceRemotingMessageHeadersExtensions. Line 24.

`Type actorMessageHeadersType = typeof(ActorMethodDispatcherBase).Assembly.GetType("Microsoft.ServiceFabric.Actors.Remoting.Ac

[2018-05-25 20:29] yantang-msft commented on #71
@n3gwave Thank you for reporting this. This is probably a "breaking" change when Service Remoting V2 is added (well, it's internal class, so not a real breaking change for Service Fabric).
Before the fix is released (probably in a week or two), you can try using Servcie Remoting V2 if it's an option for you.

[2018-05-30 22:43] #64 closed

[2018-05-30 22:43] #65 closed

[2018-05-30 22:44] #69 closed

[2018-05-31 18:46] yantang-msft commented on #62
@alexmarshall132 I reproduced the bug. And it's fixed in PR https://github.com/Microsoft/ApplicationInsights-ServiceFabric/pull/72.
Before the nuget is released, you can manually upgrade Microsoft.ApplicationInsights nuget to 2.4+ and the problem should go away.

[2018-05-31 18:46] #62 closed

[2018-05-31 22:16] yantang-msft commented on #71
Fixed in PR https://github.com/Microsoft/ApplicationInsights-ServiceFabric/pull/72.

[2018-05-31 22:16] #71 closed

[2018-06-01 03:54] alexmarshall132 commented on #62
Thank you very much Yanming. I appreciate it.

On Thu, 31 May 2018, 12:46 PM Yanming Tang <notifications@github.com> wrote:

[2018-06-01 09:29] Lillvik opened #73 "Microsoft.ApplicationInsights.ServiceFabric.FabricTelemetryInitializer exists in multiple assemblies"
Microsoft.ApplicationInsights.ServiceFabric.FabricTelemetryInitializer is available in the following assemblies.
Microsoft.AI.ServiceFabric.Native
Microsoft.AI.ServiceFabric

Since Microsoft.ApplicationInsights.ServiceFabric.Native has dependency to Microsoft.ApplicationInsights.ServiceFabric both the assemblies above are included when Microsoft.ApplicationInsights.ServiceFabric.Native is added to

[2018-06-01 18:07] yantang-msft commented on #73
@Lillvik Can you try using ```FabricTelemetryInitializerExtension.CreateFabricTelemetryInitializer(this.Context)``` instead of creating the TelemetryIntializer directly?

[2018-06-04 20:24] brahmnes commented on #63
Hi @andrewdmoreno
I am closing this issue, please reopen if the workarond doesn't work for you.

[2018-06-04 20:24] #63 closed

[2018-06-05 19:19] andrewdmoreno commented on #63
@brahmnes - Sorry for the late reply. Yes, this work around does indeed work for the meantime.

[2018-06-05 20:51] yantang-msft commented on #73
Fixed in https://github.com/Microsoft/ApplicationInsights-ServiceFabric/pull/75

[2018-06-05 20:51] #73 closed

[2018-06-28 21:05] Tadimsky commented on #64
@yantang-msft is this expected to be fixed in `2.1.1`?
I'm still seeing the issue:

![image](https://user-images.githubusercontent.com/1149244/42060613-45795d34-7adc-11e8-8409-0cd5f1d91f8d.png)

![image](https://user-images.githubusercontent.com/1149244/42060634-5238c104-7adc-11e8-8827-c616acdce09a.png)

[2018-06-28 21:33] yantang-msft commented on #64
@Tadimsky Yes, the bug as AI SF side is fixed. Does the huge decrease after 6/25 happened after you upgrade the AI SF package?
It could be somewhere else unrelated to AI SF that is still causing this issue. If you can provide a reproduce, I can definitely take a look and see what's wrong.

[2018-06-29 18:25] Tadimsky commented on #64
The huge decrease was due to some increased load we had to process for a few days.

This is total requests into the service:
![image](https://user-images.githubusercontent.com/1149244/42108283-e0b07a14-7b8e-11e8-93e3-b8a6492b521f.png)

We did deploy the fix on 6/27 though - it does seem to be lower, but it's still occurring:
![image](https://user-images.githubusercontent.com/1149244/42108341-02772

[2018-06-29 20:23] yantang-msft commented on #64
@Tadimsky can you run the query as you did last time and share the result?
You can try remove the AI SF nuget package and see if this still happens. If so then it's could be some other AI package or if you manually called client.StartOperation but didn't call client.StopOperation properly.

[2018-07-03 18:43] jstawski opened #76 "Dependencies not being tracked"
We have a stateless service that is running some background process when a service bus message is received. We are referencing `Microsoft.ApplicationInsights.ServiceFabric.Native` 2.1.1 nuget package.

In the constructor of the `StatelessService` we are setting the insights key and initializing the telemetry as follows:
[code]
We want to track every new message as a request, so when we process the

[2018-07-03 19:10] brahmnes commented on #76
Hi @jstawski

Please take a look at this article:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/Service%20Profiler/_workitems/edit/553952

You probably need to use a very recent version of ServiceBus library, and the message handler pattern mentioned in that doc.

[2018-07-03 20:59] jstawski commented on #76
hi @brahmnes, thanks for the quick reply. We are using the latest version of service bus client and are also using the message handler pattern. I first removed any custom request operation to see if anything would be tracked automagically, but nothing was tracked, even though the document says it would automatically do so. Then I implemented `telemetryClient.StartOperation` and it did log the requ

[2018-07-03 21:42] brahmnes commented on #76
Can you also confirm if this is a .NET or .NET core app? Since this is a stateless service, I suspect this is more of a console app and not an ASP.NET web app?
Which version of AppInsight SDK you are using and how are you enabling AppInsights?

[2018-07-03 22:55] jstawski commented on #76
This is a .NET Core App and it is not an ASP.NET Web App. Using version 2.6.4 of App Insights SDK

[2018-07-04 00:10] brahmnes commented on #76
Since this is not a ASP.NET core app, I suspect you may need to do extra setup to get the automatic behavior for AppInsights.

In an ASP.NET core app, there is a UseApplicationInsights() method allowing AppInsights to setup the automatic listeners.
https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Getting-Started-with-Application-Insights-for-ASP.NET-Core

With a vanilla .NET core a

[2018-07-04 00:29] lmolkova commented on #76
@jstawski, with the console app you have an option to use ApplcaitonInsights.config or configure ApplicationInsights components one by one programmatically. You can find details and examples in this article: https://docs.microsoft.com/en-us/azure/application-insights/application-insights-console. If you need to enable some other scenario not covered by the article, feel free to create an issue

[2018-07-04 17:34] jstawski commented on #76
@lmolkova and @brahmnes thank you for your help. I was able to track the dependecies by pulling information from multiple sources.
Some feedback I have in general with Azure is the lack of good/advanced documentation. This was one of those cases. Service Fabric is a major product within Azure, why isn't there a well established documentation explaining how to set it up. Furthermore, there are two

[2018-07-04 17:41] jstawski opened #77 "Accessing the current request telemetry object created via the Service Bus"
We have a Service Fabric Stateless Service running .NET Core (not ASP.NET). It's sole purpose is to process data in the background when a Service Bus message is received. We are using the latest SDK of the Service Bus and Application Insights and following the Message Handler Pattern. This works like a charm with Insights as it automagically creates a request when a message is received and correla

[2018-07-05 18:57] yantang-msft commented on #76
@jstawski Thank you for your valuable feedbacks!
The nuget package specifically for Service Fabric is mainly for the [Context Problem](https://github.com/Microsoft/ApplicationInsights-ServiceFabric#solving-the-context-problem), and [correlation](https://github.com/Microsoft/ApplicationInsights-ServiceFabric#trace-correlation-with-service-remoting) when communicating through SF remoting.

@dkkapur

[2018-07-05 21:17] yantang-msft commented on #77
@lmolkova Could you give some insights?
This question is out of scope of this repo but more Service Bus related. The main purpose for this repo is adding SF context information and correlation for SF remoting.

[2018-07-05 21:34] #76 closed

[2018-07-05 22:30] jstawski commented on #77
I don't think it belongs to Service Bus, but rather to Application Insights, but I might be wrong.

[2018-07-05 22:33] lmolkova commented on #77
@jstawski Happy to hear it works for you!

You should be able to achieve it with custom telemetry processor: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-filtering-sampling

Let me know if you need more info.
Also, would you mind sharing your scenario?  What would you like to see in Success and ResponseCode?

[2018-07-05 22:36] jstawski commented on #77
@lmolkova thanks for the reply, I will check it out. More specifically I would like for the `Success` to be set as `false` if the processing failed due to an unknown exception as the message was not processed successfully.

[2018-07-05 22:45] lmolkova commented on #77
@jstawski
My  understanding was that success should be set to false if handler Task is not RunToCompletion: https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/0e10db7d201dfd8104b71185668738d44fbf6ee4/Src/DependencyCollector/Shared/Implementation/EventHandlers/DiagnosticsEventHandlerBase.cs#L82
So it seems there is some bug if Success is not set.

If you handle the exception in the

[2018-07-06 00:30] lmolkova commented on #77
@jstawski right, so when the exception is handled, it results in the successful Request telemetry, unfortunately. I'll think what we can do here.

[Activity](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md) is an .NET API created to carry correlation details and flow with async calls. It is managed by ServiceBus SDK and consumed by Appl

[2018-07-06 00:34] jstawski commented on #77
Thank you @lmolkova! The Activity solution worked like a charm.

[2018-07-06 03:09] #77 closed

[2018-07-15 23:18] WhitWaldo opened #78 "[Bug] Service Remoting dependencies displayed differently in App Map between ASP.NET Core and non-ASP.NET Core services"
I'm a big fan of using the Application map to identify the dependencies between my Service Fabric microservices, but one of the biggest quirks to it that I've identified is the disconnect between non-ASP.NET Core services and their various dependency calls between ASP.NET Core and non-ASP.NET Core services. Specifically, call from an ASP.NET Core service to another non-ASP.NET Core service will sh

[2018-07-16 18:07] yantang-msft commented on #78
@WhitWaldo How is ServiceB communicating to ServiceC? Http or Service Remoting?
Supposing all the data are sent to the same AppInsights Resource, can you run these queries in Log Analytics and share the result? You may need to change the 'target' field to the correct value.
[code]
[code]

[2018-07-17 10:57] WhitWaldo commented on #78
@yangtang-msft All services communicate exclusively through Service Remoting.

With regards to your request for data, do you have a secure upload location I could share the data to? I'd rather not publish it all publicly.

[2018-07-17 16:05] yantang-msft commented on #78
@WhitWaldo You can use `project` to filter out sensitive information.
@madeleinefletcher Can you work with @WhitWaldo and see whether it's a bug of App Map?

[2018-08-01 11:52] ifle opened #79 "Unable to install Microsoft.ApplicationInsights.ServiceFabric.Native package"
I try to install the Microsoft.ApplicationInsights.ServiceFabric.Native package to .NET 4.7.1 Stateless application without any success. I have following error
[code]

[2018-08-01 17:34] yantang-msft commented on #79
I think it is the problem with our nuget package's dependency requirement, i.e, we should allow higher version of SF packages as the dependency. I'll check it real quick and fix accordingly.

[2018-08-01 17:40] ifle commented on #79
Thanks

[2018-08-01 18:07] yantang-msft commented on #79
@ifle It turns that we are not requiring the exact dependency version match, but it's rather this one ```Microsoft.ServiceFabric.Services.Remoting```. Could you try reference ```Microsoft.ServiceFabric.Services.Remoting 3.2.162``` in your packages.config? It should solve the problem.

[2018-08-02 07:36] ifle commented on #79
I checked. Your solution is works. Thanks

[2018-08-02 16:16] #79 closed

[2018-08-22 05:57] balukantu opened #80 "Provide documentation on integrating AI with service fabric"
I am unable to figure out how to integrate AI using Microsoft.ApplicationInsights.ServiceFabric.Native Nuget.

Can someone you provide how to configure AI with instrumentation key and log traces.

[2018-08-22 16:41] brahmnes commented on #80
Hi @balukantu,
Have you looked at the readme on https://github.com/Microsoft/ApplicationInsights-ServiceFabric#net-core?
Do you have more specific questions? Which part are you stuck on?

[2018-08-22 16:41] yantang-msft commented on #80
@balukantu It depends on your project, whether it's a console app, or ASP .Net, or ASP .Net Core?
The Microsoft.ApplicationInsights.ServiceFabric.Native is an additive package and needs extra configuration, which is documented at [here](https://github.com/Microsoft/ApplicationInsights-ServiceFabric#microsoftapplicationinsightsservicefabricnative---for-service-fabric-reliable-services)

[2018-08-24 18:17] brahmnes commented on #80
Hi @balukantu,

Can you tell us if you are using ASP.NET core or ASP.NET?
Initialization of ApplicationInsights can be different depending on the project type.

[2018-08-27 17:44] balukantu commented on #80
@brahmnes I am developing native fabric application (.Net Framework)

[2018-08-27 17:59] brahmnes commented on #80
Hi @balukantu,

Even a fabric application can use ASP.NET or ASP.NET core.
Here is a question: Does your project have web.config in it? If you look at the packages.config file, does it have references to Microsoft.AspNet.* packages?

The fact that you are using OwinCommunicationListener suggests to me that you may be using Microsoft.AspNet.WebApi.Owin, but I am not sure.

[2018-08-29 05:41] balukantu commented on #80
@brahmnes , Yes, I have below references and I am using OwinCommunicationListener.
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfH

[2018-08-30 20:27] brahmnes commented on #80
@balukantu,
I suspect you just haven't enabled Application Insights for your OWIN app.
See this link:
https://stackoverflow.com/questions/29471811/how-do-i-enable-application-insights-server-telemetry-on-webapi-project-that-use

[2018-09-10 01:27] AdXone opened #81 "Service Fabric Version Dependency"
Looking to add the Native package to our .Net Core Web API, dependency says >= SF 3.0.467 and our project is using 3.2.176. Got conflict error below, then did as suggested (install Microsoft.ServiceFabric.Diagnostics.Internal 3.2.176 directly) but now have warnings about versions, am I supposed to just ignore the errors?

**Initial Error trying to Add..**
Version conflict detected for Microsoft.Se

[2018-09-10 17:30] yantang-msft commented on #81
@AdXone Yes, you can ignore this warning. But I would upgrade the ```Microsoft.ServiceFabric.Services.Remoting ``` package 3.2.176, so there should be no warnings.

[2018-09-10 17:30] #81 closed

[2018-09-13 13:03] dguerin opened #82 "Microsoft.ApplicationInsights.ServiceFabric.Native 2.1.1 causes version conflict on Microsoft.ServiceFabric.Diagnostics.Internal"
When adding Microsoft.ApplicationInsights.ServiceFabric.Native 2.1.1 to a new Stateless Service I'm getting version conflicts which are listed below.

Note: I'm using the latest Service Fabric SDK 3.2.176

[code]

Also getting a smaller dependency constraint as follows:

[code]

[2018-09-13 16:45] yantang-msft commented on #82
@dguerin Please reference the package directly in your project as stated:
```Install/reference Microsoft.ServiceFabric.Diagnostics.Internal 3.2.176 directly to project Web1 to resolve this issue. ```.
You may want to update all SF packages to 3.2.176, for example, ```Microsoft.ServiceFabric.FabricTransport.Internal```, ```Microsoft.ServiceFabric.Services.Remoting```.

[2018-09-13 16:45] #82 closed

[2018-09-13 16:58] yantang-msft commented on #78
@anomalizer Is it possible that you share your project that has issue with us?
My gut feeling is that the non ASP stateless service is not configured correctly. The configuration story for non Asp.Net /Asp.Net core application is a bit complicated. You can take a look at this [doc](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-console) or this [repo](https://gith

[2018-09-13 20:38] dguerin commented on #82
Thanks @yantang-msft I saw that. The reason I added this issue is as a result of the description of these internal packages being described as internal only and shouldn't be used otherwise. As well as the dependency tree being locked to specific versions of Microsoft.ServiceFabric.* packages. For example as stated:

[code]

What I've done in the end is as follows:

[code]

Should the Microsoft.App

[2018-09-13 20:49] yantang-msft commented on #82
@dguerin No, we can't lock the dependency to a specific version.
I think the real problem here is the ```Microsoft.ServiceFabric.Services.Remoting``` package locked its dependency ```Microsoft.ServiceFabric.Diagnostics.Internal``` to a specific version, thus you're asked to specify the ```Microsoft.ServiceFabric.Diagnostics.Internal``` version explicitly. And even if you do that, you will get a wa

[2018-09-13 20:55] dguerin commented on #82
@yantang-msft yes the real problem is in Remoting. Thanks for the help. I'll look into creating an issue there if one does not exist already.

[2018-09-14 04:30] anomalizer commented on #78
Thanks @yantang-msft. Your code example works. FWIW I made this change. Am not sure if the first list is required
[code]

[2018-09-14 17:00] yantang-msft commented on #78
@anomalizer The first line is required, that how AppInsights set the service name, i.e., App.ServiceA.

[2018-09-20 08:52] hemantkathuria commented on #79
NU1608: Detected package version outside of dependency constraint: Microsoft.ServiceFabric.FabricTransport.Internal 3.0.467 requires Microsoft.ServiceFabric (= 6.1.467) but version Microsoft.ServiceFabric 6.3.176 was resolved.
NU1107: Version conflict detected for Microsoft.ServiceFabric.Services. Reference the package directly from the project to resolve this issue.
 employee -> Microsoft.Service

[2018-09-20 15:29] berndku opened #83 "After upgrading Service Fabric SDK to 3.2 CorrelatingServiceProxyFactory throws MissingMethodException"
We have Service Fabric services using SF SDK 3.0 and Service Remoting v1.
They were instrumented with CorrelatingServiceProxyFactory and CorrelatingRemotingMessageHandler and everything worked.

The ServiceProxy was created like this:
`
return new CorrelatingServiceProxyFactory(
                    _serviceContext,
                    (c) => new clientV1.FabricTransportServiceRemotingClientFactory

[2018-09-20 16:48] yantang-msft commented on #79
@hemantkathuria Basically you want to make sure all SF packages in your project is the same version. So in your case, you want to reference version 3.2.176 explicitly.
Looks like this is causing trouble for a lot of people. I'll see if this can be solved by changing our nuget package dependency definition sometime next week maybe.

[2018-09-20 17:52] yantang-msft commented on #83
@berndku I haven't tested Remoting V1 on SF SDK 3.2. But I checked the Remoting 3.2.176 dll, and this method ```Void Microsoft.ServiceFabric.Services.Remoting.Client.ServiceProxyFactory..ctor(System.Func`2<Microsoft.ServiceFabric.Services.Remoting.V1.IServiceRemotingCallbackClient,Microsoft.ServiceFabric.Services.Remoting.V1.Client.IServiceRemotingClientFactory>, Microsoft.ServiceFabric.Services.C

[2018-09-20 17:57] berndku commented on #83
Unfortunately we cannot upgrade all our services to Remoting V2 at the moment and this issue is blocking our upgrade to Service Fabric 3.2. Therefore it would be great, if you could test with 3.2. and let us know, if you can repro the issue.

[2018-09-20 18:09] yantang-msft commented on #83
What's the exact SDK version that you upgraded to?

[2018-09-20 18:12] berndku commented on #83
3.2.176

[2018-09-21 18:18] yantang-msft commented on #83
@berndku I can reproduce the issue. And it's because SF changed the one function signature from
```public ServiceProxyFactory(Func<IServiceRemotingCallbackClient, Microsoft.ServiceFabric.Services.Remoting.V1.Client.IServiceRemotingClientFactory> createServiceRemotingClientFactory, OperationRetrySettings retrySettings = null)```
to
```public ServiceProxyFactory(Func<IServiceRemotingCallbackClient,

[2018-09-21 18:31] berndku commented on #83
@yantang-msft Many thanks for the analysis. Looking forward to a new package.

[2018-09-21 22:00] yantang-msft commented on #79
@hemantkathuria According to the nuget [dependency resolution rule](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#cousin-dependencies), this is indeed a situation that nuget let the end user specify the version.
I believe nuget can add more rules/logics to resolve the dependency on behalf of the user. I guess for some reason (performance for example), they just choo

[2018-09-22 00:53] yantang-msft commented on #83
@berndku Version 2.2.0 is released to address this issue. Please give it a shot.

[2018-09-22 00:53] #83 closed

[2018-09-22 07:11] berndku commented on #83
The issue is fixed with 2.2.0. Many thanks for the very fast response!!

[2018-10-05 17:06] WhitWaldo commented on #78
I ultimately opened a ticket with the App Insights team via Azure support and identified the issue as one with how I was specifying the parent and operation IDs across services (having flipped the two in practice). As a result, everything is now displaying as I'd expect in the App Map.

[2018-10-05 17:06] #78 closed

[2018-10-09 16:50] michjuh commented on #83
We had the exact same issue and was fixed by upgrading to version 2.2.0. Thanks all :-)

[2018-10-17 11:35] vitalybibikov opened #86 "FabricTelemetryInitializerExtension is missing or documentation is incorrect"
FabricTelemetryInitializerExtension is not presented for .NET Core, only for Native. It's a bit of a complication for Apps, that have both Reliable and Guest services.

Suggestion is to create a FabricTelemetryInitializerExtension that will take Context as an optional parameter.

So, there will be no need to support 2 ways of configurations

[2018-10-17 22:56] yantang-msft commented on #86
@vitalybibikov FabricTelemetryInitializerExtension exists for .NET core apps. What's the version of the ServiceFabric.Native package you are using?

[2018-10-22 09:10] ttamaranazc commented on #79
This order worked for me.
Microsoft.ServiceFabric.Services 3.2.176

Microsoft.ServiceFabric.Services.Remoting 3.2.176

Microsoft.ServiceFabric.Diagnostics.Internal 3.2.176

[2018-10-30 18:12] yantang-msft opened #88 "Add documentation for configure actor services"

[2018-10-30 19:07] yantang-msft commented on #88
Some examples here as draft, need more time for verification and editing.

# Setting Service Context
1. Create your own actor service class and initialize the context there:
[code]

1. Register the actor service like below:
[code]

# Enabling Correlation for Service Remoting
## Remoting V2 (recommended)
1. Initialize the Service Remoting dependency/request tracking modules like below.
    Notice:

[2018-10-30 21:41] yantang-msft commented on #88
Good point. The user should have set the attribute correctly to use Service Remoting, but I'll add a link to SF doc just in case.

[2018-11-06 11:14] Adebeer opened #89 "AI Not supported for .NET Core Stateless services?"
I'm currently using the Microsoft.ApplicationInsights.ServiceFabric and ServiceFabric.Native packages with Serilog and I have no problem sending events and traces from an ASP.NET Core application.

However, I can't get any telemetry from .net core Stateless services (i.e. not asp.net core). I've created a basic stateless service and used VS 2017 tooling to add app insights - but it doesn't seem to

[2018-11-06 18:07] yantang-msft commented on #89
@Adebeer Checkout this example and see if it helps: https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs

[2018-11-06 18:08] yantang-msft commented on #88
Also add doc for how to configure non asp.net core application, e.g., https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs

[2018-11-09 19:57] Adebeer commented on #89
@yantan-msft
Thank you, this works perfectly!

[2018-11-09 19:57] #89 closed

[2018-11-12 23:31] brijeshb opened #90 "The nuget package is hard dependent on service fabric 3.2.162, 3.2.187 is the latest version and has important bug fixes"

[2018-11-13 01:14] yantang-msft commented on #90
@brijeshb I suppose you're having some problem upgrading the SF nuget package version. Checkout this https://github.com/Microsoft/ApplicationInsights-ServiceFabric/issues/82 with similar situation and the solution.

[2018-11-14 13:27] paolosalvatori opened #91 "No samples on how to use GlobalProperties or ISupport.Properties"
Hi updated the NuGet package to the latest version of the library, recompiled my project and now I see the following warning in the Build window:

1>CallContextTelemetryInitializer.cs(20,13,20,41): warning CS0618: 'TelemetryContext.Properties' is obsolete: 'Use GlobalProperties to set global level properties. For properties at item level, use ISupportProperties.Properties.'

A few months ago, I cr

[2018-11-14 17:49] yantang-msft commented on #91
@paolosalvatori See if this helps https://github.com/Microsoft/ApplicationInsights-dotnet/issues/820#issuecomment-429939316
@SergeyKanzhelev @cijothomas Do you any official document for this particular feature?

[2018-11-15 13:48] paolosalvatori commented on #91
Hi  @yantang-msft / @cijothomas This answers my question. Still it would be great to document this somewhere. For this reason, I don't close the issue yet, thanks!

[2018-11-15 17:38] yantang-msft commented on #91
@paolosalvatori This repo only has SF specific features.
You can create an issue at https://github.com/Microsoft/ApplicationInsights-dotnet to get more attention.
Yes, there are many app insights repos and it's not easy enough to correlate the features with the repos. But [ApplicationInsights-dotnet](https://github.com/Microsoft/ApplicationInsights-dotnet) is the right place for this ask.

[2018-11-15 17:38] #91 closed

[2018-11-17 23:15] Adebeer opened #92 "Asp.Net Core WebApi Telemetry only works when key specified in config"
Hi

When specifying AI key purely via code, I'm having trouble getting my Stateless Asp.Net Core 2.1 Service fabric application to send telemetry to AI.

Specifically, when I enter the AI key in appsettings.json file, everything works as expected - I can see HTTP request with all dependency tracking in place for API->Remoting Service -> SQL Server

If however, I remove the instrumentation key (fro

[2018-11-18 08:25] Adebeer commented on #92
Unfortunately it seems the situation is even worse than I thought.
So I updated all the configuration files to point to a new AI instance in azure - but no telemetry got sent to it...
until I used VS studio to reconfigure all AI keys - and it seem to update these settings in the csproj files with the new AI keys:
[code]

Wow - does AI really not support configuration via code?? I'm hoping it's not

[2018-11-18 19:01] #90 closed

[2018-11-18 19:01] #86 closed

[2018-11-18 19:05] yantang-msft commented on #92
AI's configuration scenario is different for each platform, e.g., console, AspNet, AspNet Core.
In your case, please refer [this](https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Custom-Configuration) for configurations.
As far as I know, the configuration story for AspNet core is not as mature as AspNet. But it does support the IKey.

[2018-11-18 23:40] Adebeer commented on #92
Thank you @yangg-msft - I haven't come across this resource before. I need to do a bit more tweaking to my code but it looks promising.

[2018-11-21 02:46] huajunzhao commented on #79
I encountered the similar the issue. After installing the Microsoft.ServiceFabric.Services.Remoting with a higher version first, then i was able to install Microsoft.ApplicationInsights.ServiceFabric.Native

[2019-01-23 09:21] DOliana opened #97 "Add documentation/sample for stateful .Net core AI integration"
I have a stateful service which listens to an eventhub and processes the messages by sending them to a SQL DB / cosmos DB. So far I was able to integrate AI to the IaaS part and even to write custom events to AI, but I do not get the automatic dependency tracking which should come for SQL/cosmos DB (I have it working in an app service I use). Note: no ServiceIntanceListeners/Webinitialization - so

[2019-01-23 18:03] yantang-msft commented on #97
@DOliana Check out [this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/console) and see if it helps.

[2019-01-29 21:09] mihai-cloudbrick opened #98 "Update SDK"
Can you update to the latest Service Fabric SDK?

[2019-02-01 00:10] brahmnes commented on #98
Hi @mihai-cloudbrick,

Do you mind sharing what problem you are encountering?
The Application Insights Service Fabric nuget allows future versions of Service Fabric SDK to be used with it. Here is the copy and paste of the dependency list from https://www.nuget.org/packages/Microsoft.ApplicationInsights.ServiceFabric.Native/2.2.2

.NETFramework 4.5
Microsoft.ApplicationInsights (>= 2.4.0 && < 3.0.

[2019-02-01 03:58] mihai-cloudbrick commented on #98
Hi the problem is that I was trying to use it with the latest SDK and Runtime for .NetCore  and fails, dependency issues , so I took the solution and customize it for my needs.
Now all works fine.

Mihai Dumitrascu | CloudBrick
CEO & Founder | Azure Cloud Solution Architect | Dr.Taberei 42, Bucuresti, Romania | Tel. 0733775033

From: brahmnes <notifications@github.com>
Sent: Friday, February 1, 20

[2019-02-01 05:56] #98 closed

[2019-02-19 15:02] BoeseB commented on #97
Loading the instrumentation key from Applicationinsights.config like its described in the link provided by @yantang-msft does not work for me.
The config file is not included in the service fabric package.

Can someone provide me with some hint how to manage to include the config file to the correct location so AI can load it?
Setting "Copy to output directory" does not do the trick.
The files Bui

[2019-02-19 20:02] yantang-msft commented on #97
@BoeseB As documented, "Instructions referring to ApplicationInsights.config are only applicable to apps that are targeting the .NET Framework, and do not apply to .NET Core applications."
The ways of configuration is different for different types of project. What's the type of your project? Asp or non Asp? .net framework or .net core?

[2019-02-20 07:44] BoeseB commented on #97
@yantang-msft Thanks for pointing this out again. Sorry i interpreted the note to apply on Asp.net Core cause most examples are with asp.

My App is a simple non asp stateful service with only a RunAsync Method running at .Net Core.

Here is how I setup AI for now (any suggestions on how to improve are more than welcome):

Initialize in Program.cs Main method
[code]

[code]

[2019-02-20 08:13] yantang-msft commented on #97
@BoeseB It looks fine overall. The only thing is for the DependencyTracking Module, I have never tried the way you did it here, if it just works then you're good. Otherwise, [this](https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs#L35) is how I initialize it, as documented like [here](https://docs.microsoft.com/en-us/azure/

[2019-02-25 18:52] zvolkov commented on #91
This should be reopened - there is still no documentation/example and the example the link points to does not use GlobalProperties. Also, when you say "global" or "more global" - what exactly do you mean? Is request-scope global? Or the duration of one app run? Or the entire app, ever, on all nodes? Could use some clarity please.

[2019-02-26 01:08] yantang-msft commented on #91
@zvolkov This issue is irrelevant to the AI-SF repo, but rather this is the repo (https://github.com/Microsoft/ApplicationInsights-dotnet). Feel free to open an issue under the [AI-dotnet]( https://github.com/Microsoft/ApplicationInsights-dotnet) repo for tracking purpose.

[2019-03-07 20:17] ththiem commented on #88
Any update on a formal doc/process for this? Is it really to circumvent the auto-generated actor project with manually constructed classes and hooks and reconfiguring remoting endpoints manually just to add appinsights?

[2019-03-07 21:59] yantang-msft commented on #88
@ththiem The "draft" doc will most likely work and be the formal process, but I don't have time to double check and publish the doc officially. Let me know if you can't make it work and I can definitely take a look.

[2019-03-22 21:05] ththiem opened #99 "Dependency Tracking Reporting Very Long Durations?"
I'd like to better understand the numbers being reported by the dependency tracking for this package. After implementing it in our fabric cluster, it is working and we see all the requests in the cluster. What we're finding strange is the time to make remoting V2 requests between services that makes little sense. For example here's a snapshot of what that looks like for 1 request to our service.

[2019-03-23 05:27] brahmnes commented on #99
Hi @ththiem,

When you said it's odd, do you mean 2.5 seconds round trip is unreasonable long and you believe it's not measuring correctly?
As a quick experiment, you can log separate before and after the call and see if the duration agree.

[2019-03-28 22:23] ththiem commented on #99
Sorry I haven't been able to return to this issue the last few days. I'm going through and trying a before & after log to check now.

[2019-04-01 19:18] ththiem commented on #99
We've been running a lot of tests to poke at this, and there is clearly something that doesn't make sense with what we're seeing in the logs, or something we don't understand. As a simple example, we tracked an event with a start and end time before and after an await call that just makes a RPC request to another service in our fabric (all of which is awaited), and we see conflicting timestamps be

[2019-04-02 07:33] davidelettieri opened #100 "Configure logging for writing to AI from .NET Stateless service"
Following [this](https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs) I was able to configure a stateless service to events to AI, I'm also able to write logs to AI but the logs from the Stateless service are not related to the chain of call as shown in the screenshot

![tempsnip](https://user-images.githubusercontent.com/526

[2019-04-02 16:58] yantang-msft commented on #99
@ththiem So which telemetry makes more sense to you, the automatic dependency with 3 sec or your manual telemetry with 40ms? I'm wondering whether the automatic/manual telemetry you're looking at are for the same transaction, e.g., it might be slow for the first call to initialize something (3s) but fast (40ms) afterwards.

[2019-04-02 18:06] ththiem commented on #99
Yes they're the same transaction, all under the same operation Id. We have full correlation illustrating this problem. Right now, _neither_ of the telemetry make any sense. It's not queuing the remoting call to run in a background thread and continue without waiting. It is _awaiting_ it, the code should run serially. The end timestamp should be recorded *after* the awaited remoting call completes.

[2019-04-02 20:39] yantang-msft commented on #100
@lmolkova Would you be able to share any example to correlate custom event with the Activity?

[2019-04-02 21:27] yantang-msft commented on #99
This is weird. The simplified code you posted here just looks fine. If you can create a simple project that reproduce this issue, I can take a look and do some debugging.

[2019-04-02 22:56] lmolkova commented on #100
As long as ` OperationCorrelationTelemetryInitializer` is configured, there is no need to do anything else - it will use Activity and stamp ids on all telemtery items including custom events.

Here is where it is added in the example: https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs#L32

[2019-04-03 16:04] davidelettieri commented on #100
I'm sorry my question was not very clear. I'll try to add some context.

On a .NET Core Web Api Stateless service I have the following action on a controller and the LogInformation calls are correctly linked to the request as shown in the screenshot of my first comment. The random value is retrieved via remoting from another stateless service
![image](https://user-images.githubusercontent.com/5262

[2019-04-03 17:11] yantang-msft commented on #100
@davidelettieri I suppose you have done something like this in your asp.net core project:
[code]

@lmolkova I don't see the ```OperationCorrelationTelemetryInitializer``` added [here](https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/883589c8a99fded1b754c5ed688734274c9243e9/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsExtensions.cs#L135). Would it be a

[2019-04-03 17:17] lmolkova commented on #100
`OperationCorrelationTelemetryInitializer` is configured implicitly inside `TelemetryConfiguration.CreateDefault` https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/883589c8a99fded1b754c5ed688734274c9243e9/src/Microsoft.ApplicationInsights.AspNetCore/Implementation/TelemetryConfigurationOptions.cs#L17

[2019-04-18 23:32] skofman1 opened #101 "Use NuGet V3 API for package restore"
I see in you [NuGet.config](https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/773d9cb05d7f606634490f5d7e695f00ab30c1d1/NuGet.config) that you are still using NuGet's V2 API.
We strongly recommend moving to V3 API as it provides more reliable builds and [security improvements](https://blog.nuget.org/20180810/Introducing-Repository-Signatures.html).

The change is super simple:
Rep

[2019-04-18 23:53] yantang-msft commented on #101
@skofman1 Thanks for letting us know. Fixed.

[2019-04-18 23:53] #101 closed

[2019-04-25 10:20] richardlawidjaja commented on #88
Hi, one question here I tried to configure app insight for a reliable actor. however, I am unable to do this,

config.TelemetryInitializers.Add(FabricTelemetryInitializerExtension.CreateFabricTelemetryInitializer(this.Context)); everytime I tried to add Nuget package for
Microsoft.ApplicationInsights.ServiceFabric.Native it will collide with my own Service fabric configuration

here is my setup :

[2019-05-03 17:58] yantang-msft commented on #88
@richardlawidjaja See if the [StartOperation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking) suffice what you need

[2019-05-28 14:27] michalMajkel opened #102 "Missleading documentation & not existing classes"
Documentation for "Remoting v2" & "Remoting v1" is missleading. It suggests that only v1 uses ServiceProxy for connections, but i believe v2 is using it too.
The other problem is that class 'CorrelatingRemotingMessageHandler' doesn't exist in any of the nugets, so the guide is incomplete.

[2019-06-07 23:06] yantang-msft commented on #102
@michalMajkel For remoting V1, it's actually saying use ```CorrelatingServiceProxyFactory```, this is to make the automatic request/dependency telemetry collection work, but not make ServiceRemoting work. Basically it's a wrapper of ```ServiceProxy``` and collects the request/dependency telemetry for you.

The ```CorrelatingRemotingMessageHandler``` class exists in Microsoft.AI.ServiceFabric.Nativ

[2019-07-04 09:47] grassgit commented on #102
To add to this, configuration application insights for a service fabric statefull (or stateless) service using the latest version of service fabric (3.4) and sf ai (2.3) is not possible using the provided documentation. Specifically the section: https://github.com/microsoft/ApplicationInsights-ServiceFabric#net-core-1
Microsoft.ApplicationInsights.ServiceFabric.Native - For Service Fabric Reliable

[2019-07-05 17:48] yantang-msft commented on #102
@grassgit Depending on your VS SF tools version, the template may give you different initial code. I just tried with VS 2019 and it's actually asking you to override the listeners yourself: https://aka.ms/servicefabricservicecommunication
If you are calling the backend through Service Remoting, then take a look at this example: https://github.com/yantang-msft/service-fabric-application-insights-ex

[2019-07-06 05:30] grassgit commented on #102
Thanks this is exactly what I was looking for. The main readme only contains examples for use with AspNet Core which has a lot more infrastructure.

[2019-07-08 17:35] #102 closed

[2019-08-16 09:37] LoloActemium commented on #88
Hi,
I tried to add Actor to AppInsights map, and works well.
I see my Actor and calls to the Actor.
But, I cannot see Actor callback in application map.
How can I get those callbacks shown in Application map ?

Thanks in advance,
Laurent.

[2019-08-16 17:41] yantang-msft commented on #88
@LoloActemium Do you mean your actor is calling downstream service and the downstream service is not showing up in the app map? In this case, please check if you have configured request tracking module in the downstream service.

[2019-08-19 05:38] LoloActemium commented on #88
Hi,
Both Actor and Downstream service are shown on the map.
But the "Arrow" between Actor and Service is not shown: I am not able to see that the actor is calling the service.

[2019-08-19 17:13] yantang-msft commented on #88
@LoloActemium Have you checked if you configured the dependency tracking module of the actor and request tracking module for the downstream service correctly? The example here configured both the request and dependency telemetry module for Service Remoting. If you are using other protocols like Http, WCF, then you need different modules.
You should be able to see the dependency telemetry and reque

[2019-08-20 05:52] LoloActemium commented on #88
@yantang-msft : Hello, I use the following function in both actor and downstream service :
[code]
Did I miss something ?

[2019-08-20 16:50] yantang-msft commented on #88
@LoloActemium what's the protocol being used to talk between the Actor and downstream service? And what's type of the backend service? Asp.Net or Asp.Net core or console app?

[2019-08-21 05:48] LoloActemium commented on #88
@yantang-msft : Hi, we use Service Fabric default protocol. Service is .Net 4.6.1 Console application hosted, Actor is  .Net 4.6.1 Console application.

[2019-08-21 17:13] yantang-msft commented on #88
@LoloActemium I suppose you mean they are communicating through Service Remoting. Make sure you are using Service Remoting V2, as the code you pasted only works for Service Remoting V2.
Also, instead of looking at the App Map, please check if the dependency telemetry and request telemetry is collected at all. You can run some query like this, this will let you know if the telemetry module is initi

[2019-08-23 06:19] LoloActemium commented on #88
@yantang-msft I use V2 Remoting Stack. I see calls to the Actor in the telemetry. I see calls from the actor to our LogService. But I don't see the Event callback call:
`// Notify Subscribers:
                    GetEvent<ICacheEvents>().CacheRefreshEvent();`
In our own log, I can see that the actor is calling all subscribers, and that subscribers are doing the job.

[2019-08-23 21:49] yantang-msft commented on #88
@LoloActemium Please checkout the example here: https://github.com/yantang-msft/service-fabric-application-insights-example/blob/yantang/ActorCallDownstream/ActorBackend/ActorBackend.cs#L61
Where the actor service calls the downstream service.

If it's configured correctly, you should see a pair of matching telemetry. To be more specific, a Request telemetry sent from the downstream service, and a

[2019-08-26 06:56] LoloActemium commented on #88
@yantang-msft:  Actor calling a downstream service is working as expected. I see my Actor calling our LogService (another SF StatelessService in our application). But, for Actor subscribers, I do not see any entry when Actor is calling back the subscribers via the "Actor events" feature (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-events). Is there somethin

[2019-11-12 14:35] profet23 opened #105 "Actor Reminders share OperationId"
It seems that all reminders are being recorded with the same OperationId. I have a long running actor acting as a sort of cron job. It is repeatedly called via an actor reminder for the lifetime of the application. All operations it performs get recorded together which makes parsing these time consuming. How can I split each reminder executing into separate Operations with unique OperationIds?

[2019-11-12 17:53] yantang-msft commented on #105
@profet23 Have you looked at [StartOperation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking)?

[2019-11-19 16:41] profet23 commented on #105
Thank you @yantang-msft. I agree that this is a good workaround. But still feel each reminder invocation is a separate operation. I dunno. I guess it's debatable.

[2019-11-19 19:46] yantang-msft commented on #105
@profet23 I'm glad you can work around this issue.
I agree with you each invocation is a separate operation. To make this happen, it requires some modifications in the SF framework, which we currently don't have any plan on that. Sorry about that.

[2019-11-19 19:46] #105 closed

[2019-12-03 16:16] festivus opened #106 "Expose Request\Response events"
I would like to use ServiceRemotingServiceEvents.SendResponse to do global exception handling\logging. The problem is there is no way to say I want my SendResponse to be called before yours, so sometimes the exception is logged after the app insights operation is finished in your SendResponse, so my exception is not correlated to any of the messages in the chain. Could you expose events before clo

[2019-12-03 21:37] yantang-msft commented on #106
@festivus So we register our event handler at [here](https://github.com/microsoft/ApplicationInsights-ServiceFabric/blob/master/src/ApplicationInsights.ServiceFabric.Native.Shared/RequestTrackingModule/ServiceRemotingServerEventListener.cs#L37), which is triggered in initializing the ```ServiceRemotingRequestTrackingTelemetryModule```.
Can you try to register your SendReponse event handler before

[2019-12-17 23:40] mwonger opened #107 "Appinsights logging affecting performance on SF nodes"
We are investigating a performance level issue with a set of customer applications that use Application Insights. We see the following callstack

**System.Diagnostics.Activity.get_TraceStateString**() [/_/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs @ 543]
Microsoft.ApplicationInsights.Extensibility.OperationCorrelationTelemetryInitializer+c__DisplayClass1_0.b__0() [E

[2019-12-18 01:29] #106 closed

[2019-12-18 01:34] yantang-msft commented on #107
@mwonger Please open the issue under this repo: https://github.com/microsoft/ApplicationInsights-dotnet as this is a general AppInsights issue but not Service Fabric specific.

[2019-12-18 01:34] #107 closed

[2020-01-27 14:35] DOliana opened #108 "library causes version conflict when using Microsoft.Services.ServiceFabric >= 3.3.664"
When referencing a version of Microsoft.Services.ServiceFabric >= 3.3.664 in the SF-Service project, trying to add a reference to Microsoft.ApplicationInsights.ServiceFabric.Native causes a version conflict.

Sample error:
[code]

[2020-01-27 17:28] brahmnes commented on #108
Hi @DOliana,

Microsoft.ApplicationInsights.ServiceFabric.Native is pretty easy going with reference versions. If you look at the nuget page, all service fabric version dependencies are declared with a >= constraint.
https://www.nuget.org/packages/Microsoft.ApplicationInsights.ServiceFabric.Native/

It looks like you can resolve it by installing explicitly a version of Microsoft.ServiceFabric.Serv

[2020-01-27 17:30] brahmnes commented on #80
Closing this issue since it's been inactive and presumably the issue was resolved.

[2020-01-27 17:30] #80 closed

[2020-01-27 17:31] brahmnes commented on #27
Closing this issue since it's been inactive and presumably the issue was resolved.

[2020-01-27 17:31] #27 closed

[2020-01-27 17:54] DOliana commented on #108
I know (or at least am pretty sure) I can solve it by referencing versions directly. The thing is, that then I will have to monitor that dependency on every future update.

It probably isn't even the fault of the app insights-library but more of the remoting-library for having a hard dependency.

My question is, whether there is an alternative way of doing this.

[2020-01-27 18:12] brahmnes commented on #108
I don't know of a better way. I think this is a general nuget problem.
As a general practice, it may be better to ensure all Microsoft.ServiceFabric.* nugets to stay in sync for version numbers, but I assume in your case, it's the application insights library that's bringing in the remoting dependency.

[2020-01-28 20:43] yantang-msft commented on #108
Closing this issue as it has been reported couple times https://github.com/microsoft/ApplicationInsights-ServiceFabric/issues/79, https://github.com/microsoft/ApplicationInsights-ServiceFabric/issues/82, and we suggest specifying the version explicitly.

[2020-01-28 20:43] #108 closed

[2020-02-06 16:02] PooSham opened #109 "Native has an old dependency on NuGet package Microsoft.ServiceFabric.Services.Remoting"
`Microsoft.ApplicationInsights.ServiceFabric.Native` references `Microsoft.ServiceFabric.Services.Remoting` version `3.3.664`, but the newest is `4.0.464`.

Please update this package, as it causes many NuGet conflicts with other packages. While it is fixable by referencing `Microsoft.ServiceFabric.Services.Remoting` directly, it would be nice if you could update your references to not bug the use

[2020-02-06 19:40] yantang-msft commented on #109
@PooSham are you see the version conflicts of ```Microsoft.ServiceFabric.Diagnostics.Internal```? This has been the known and common issue of our package, and the real problem is ```Microsoft.ServiceFabric.Services.Remoting``` locked their version on  ```Microsoft.ServiceFabric.Diagnostics.Internal```. See more comments here:
https://github.com/microsoft/ApplicationInsights-ServiceFabric/issues/82

[2020-02-11 20:23] mwonger commented on #88
Side note on the above code, if integrating an actor service in with appinsights, make sure you are using singletons via statics for example instead of constructing a new FabricTelemetryInitializer and OperationCorrelationTelemetryInitializer.  We ran into an issue where multiple initializers were getting created per actor thus causing performance issues as more and more actors were getting create

[2020-03-02 12:21] BoeseB opened #110 "What TelemetryChannel is recommended to be used in SF"
Thanks for this library, the correlation tracking in interservice calls is really helpful. But I am still not sure how to use this properly in none ASP.Net services. While @yantang-msft provided a good example [here](https://github.com/yantang-msft/service-fabric-application-insights-example), I still got following questions:

1. Do we get more reliability by using `ServerTelemetryChannel ` over `

[2020-03-02 19:56] yantang-msft commented on #110
1. You will get an authoritative answer for this question under this repo: https://github.com/microsoft/ApplicationInsights-dotnet. But I think it's safe to assume ```ServerTelemetryChannel``` has better performance and is used by default.
2. This package doesn't handle shutdown gracefully, and the ```TelemetryClient``` is a private member created [here](https://github.com/microsoft/ApplicationIns

[2020-03-10 12:11] inkey opened #111 "Additional properties not showing in Application Insights .NET framework"
I have added Microsoft.ApplicationInsights.ServiceFabric.Native package to my stateful project .net

I have added   `FabricTelemetryInitializerExtension.SetServiceCallContext(this.Context)`; to my RunAsync method.

I am loging to insights as follows

[code]

However i am not seeing any of the context information in the application insight logs. I do see the TEST log.

Am i missing something i thou

[2020-03-10 18:49] yantang-msft commented on #111
@inkey The context are added through TelemetryIntializer, which is configured in the ApplicationInsights.config file in your case, so you need to create a telemetry client from that config so the TelemetryInitializer can take effect.
Try ```TelemetryClient tclient = new TelemetryClient(TelemetryConfiguration.Active)```. More info at [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/c

[2020-03-10 18:49] #110 closed

[2020-03-10 18:49] #109 closed

[2020-03-11 13:11] #111 closed

[2020-04-07 06:14] BoeseB commented on #17
@ohadschn I just implemented some logging like this yesterday with the use of [Autofac.DynamicProxies](https://github.com/autofac/Autofac.Extras.DynamicProxy) to decorate all service instances with logging.
A caveat is getting the async decoration right which we managed to get right with the help of this answer https://stackoverflow.com/a/39784559

The only problem I face right now is that the ope

[2020-05-14 09:43] daliran opened #112 "Support for Microsoft.ServiceFabric.* 4.1.409"
Hi,
I'm working with the Microsoft.ServiceFabric.* packages version 4.1.409 using ASP.NET Core 3.1 and the latest version of your library (2.3.1) is not compatible due to some internal dependencies on Microsoft.ServiceFabric.* packages version 3.3 (I think Microsoft.ServiceFabric.Services.Remoting).

In order to make that work I forced to use the following versions in my project file (as suggested

[2020-05-14 18:43] yantang-msft commented on #112
@daliran This is the common issue we received, e.g., https://github.com/microsoft/ApplicationInsights-ServiceFabric/issues/108
But we don't want to keep us tied to the ServiceFabric nuget releases as explained in other threads.

[2020-08-25 13:09] festivus opened #113 "W3C Trace-Context Support"
Do you support or plan on supporting Application Insights move to W3C Trace-Context for correlation headers? I do not get correlation when this feature is turned on. I have to do the following to get correlation working again:

Activity.DefaultIdFormat = ActivityIdFormat.Hierarchical;
Activity.ForceDefaultIdFormat = true;

[2020-08-25 18:19] yantang-msft commented on #113
@festivus Unfortunately, we don't have a plan on any new features. Feel free to contribute though.

[2020-08-25 18:19] #113 closed

[2020-10-27 15:49] TestUser0811 opened #114 "How to get Azure service fabric performance metrics"
Currently configured telemetry to Service Fabric service Service

         return new WebHostBuilder().UseHttpSys()
                            .ConfigureServices(
                                services => services
                                    .AddSingleton<StatelessServiceContext>(serviceContext)
                                    .AddSingleton<ServiceFabricAppContext>(new ServiceFabric

[2020-11-18 09:15] lindgrend opened #115 "Upgrading Application Insights breaks service correlation"
We are running a service fabric cluster with the following values:
Microsoft.ServiceFabric: 6.4.638
Other service fabric nuget: 3.3.638
Microsoft.ApplicationInsights.ServiceFabric.Native 2.2.2
Application insights: 2.9.1
Microsoft.ApplicationInsights.AspNetCore: 2.6.1

This is running as expected
![2 9 1](https://user-images.githubusercontent.com/8226441/99508683-2ac6e880-2985-11eb-8231-94773f2ab1

[2020-11-19 08:49] yantang-msft commented on #115
@lindgrend, most likely it's because the latest AppInsights sdk switched to W3C [correlation header](https://docs.microsoft.com/en-us/azure/azure-monitor/app/correlation#correlation-headers-using-w3c-tracecontext), which is not compatible with the correlation protocol in this SDK.
And there is currently no plan on supporting the new protocol for this SDK, so unfortunately, you'll have to choose be

[2020-11-19 13:09] lindgrend commented on #115
Am I understanding it correctly that it could be solved by upgrading Service fabric and would that include going to the next major release then?

[2020-11-19 19:51] yantang-msft commented on #115
It's correct it can be solved by implementing the new correlation protocol.
However, this repo is currently in maintenance mode only for bug fixes, there is no plan for next major release. :(

[2021-02-03 11:00] DHoefakker commented on #115
@yantang-msft I hop on this issue based on a issue I encounter (https://stackoverflow.com/questions/66011506/applicationinsights-end-2-end-breaks-on-servicefabric-apigateway) which looks like this issue.

Could you clarify a thing
==> However, this repo is currently in maintenance mode only for bug fixes, there is no plan for next major release. :( <==

Does this mean there are no updates coming f

[2021-02-03 11:30] yantang-msft commented on #115
@DHoefakker I at one time saw there is a way to force using Request-Id in the doc, but last time I checked the doc again, I don't see it anymore. @cijothomas do you know how to enforce Request-Id protocol for the .net SDK?

[2021-02-03 17:19] cijothomas commented on #115
@yantang-msft I believe ApplicationInsights still does request-id propagation along with traceparent. It would respect the ActivityID format set by the user. So one can set ActivityIDformat to legacy one like below. (somewhere in app startup)

Activity.DefaultIdFormat = ActivityIdFormat.Hierrachical;
Activity.ForceDefaultIdFormat = true;

If this doesn't work, please open an issue in the applicait

[2021-02-04 08:03] DHoefakker commented on #115
@cijothomas @yantang-msft Yes, setting the ActivityIDFormat did the trick :partying_face:

Beside that i am wondering does this mean there are no updates coming for ApplicationInsights for ServiceFabric? Or is it related to .net? Are you now focussing on .net core / .net 5, and maintaining only the .net < 4.x version ?

[2021-05-17 21:48] jay1891 opened #116 "Combine Service Fabric Actor + ApplicationInsights + ILogger"
We require to combine an actor that uses application insights and this together with specific iloggers inside the actor service.

We use the approach described in the issue: https://github.com/microsoft/ApplicationInsights-ServiceFabric/issues/88 on a .net 5 platform. But when we create a LoggerFactory, starting from a service collection and that uses the same instrumentation key then this telemet

[2021-05-17 22:30] yantang-msft commented on #116
@jay1891 what you if don't set filter level to Warning? Does AppInsights with Actor ever worked for you and just stopped working after switching to .Net 5?

[2021-05-17 22:41] jay1891 commented on #116
@yantang-msft

AppInsights works on our net5 web app and also we see an exception being logged in an net5 actor method if we throw there an exception and this by using #88. But using our own telemetry client, or using DI with a service collection, or using serilog is not creating error logs.

[2021-05-17 23:25] yantang-msft commented on #116
@jay1891 AppInsights configuration is very tricky, it's different depending on the run time (.net, .net core) and app (console, asp.net core). My gut feeling is App Insights is not setup correctly, while this project is more for enrich the telemetry once AppInsights is setup correctly.
I created a project with some examples before which may help you setup the AppInsights: https://github.com/yantan

[2021-05-18 17:18] jay1891 commented on #116
@yantang-msft Thank you for the info. I got some logging working also with the help of implementing a specific ApplicationInsightsLoggerProvider. I also noticed I was looking at the live metrics, as I configured them for our web app, but the actors where not configured with it (in the sample and #88 ). This created some confusion, as I was not seeing all our logging activity in the live metrics. B

[2021-05-18 20:48] #116 closed

[2021-06-08 08:30] AlkisFortuneFish opened #117 "ASP.NET CORE API running on ServiceFabric does not have service annotations when remoting"
We are running a couple of Service Fabric clusters on Azure VMSS, have integrated Application Insights instrumentation for performance data and have run into a technical issue with our integration. The APIs for our applications are implemented as ASP.NET CORE APIs served by Kestrel. They then make backend calls to the other microservices on the Service Fabric application using SF service remoting.

[2021-06-08 08:39] yantang-msft commented on #117
@AlkisFortuneFish did you add `ServiceRemotingRequestTrackingTelemetryModule` and `ServiceRemotingDependencyTrackingTelemetryModule` to all services? i.e, the API Service, Service A and Service B.
Here is an example project that might help with the initialization: https://github.com/yantang-msft/service-fabric-application-insights-example

[2021-06-08 08:46] AlkisFortuneFish commented on #117
Yes, as is visible in the initialisation code I pasted above. The example cannot be copied directly because it uses TelemetryConfiguration.Active, which is deprecated, hence the explicit initialisation of the telemetry configuration.

[2021-06-08 09:10] yantang-msft commented on #117
If the 2 modules has been added to ***all services***, then I can't think of why it doesn't work for you.
You mean the Service Remoting call is detected as a dependency telemetry, it's just that it can't be correlated correctly, isn't it? This is usually means there is only the dependency telemetry but not matching request telemetry. You can use the transaction view to see if that's the case.

[2021-06-08 10:59] AlkisFortuneFish commented on #117
Looking at the data here, I'm a bit confused:
Request dd2ed206271c0a49 POST GetPendingCompetitionRewards/Post operationId == operation_ParentId == f5b34abd513e174b8fedeb7fde937574
Dependency 87495a9ca4af5441 GetPendingCompetitionRewards operationId == f5b34abd513e174b8fedeb7fde937574 && operation_ParentId == dd2ed206271c0a49 - as expected
Backend: 17be469bd121cf4a GetPendingCompetitionRewards - op

[2021-06-08 18:52] yantang-msft commented on #117
The telemetry operationId definitely needs to be the same for correlation.
Make sure you didn't touch anything regarding System.Diagnostics.Activity (you can touch but if it's not done correctly then the correlation will be broken).
Also, I noticed the "Backend call" is from an actor service. The initialization of Actor Service has some trickiness, please check out this example project, hopefully

[2021-06-09 09:11] AlkisFortuneFish commented on #117
The initialisation I pasted above is from one of the ActorServices. All services have the initialisation I pasted above (which I updated just now). I am not sure what trickiness you are referring to, as far as I can see it is the same as initialisation of any other non-ASP.NET SF service, we already have explicitly derived ActorService classes for all our actor services for other reasons anyway.

[2021-06-09 09:49] yantang-msft commented on #117
The trickiness for Actor is that you need to initialize the code in [ActorBackendService](https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/ActorBackend/ActorBackendService.cs), not in Program.cs or ActorBackend.cs. If you are already doing this and didn't touch any `System.Diagnostics.Activity`, then I have no idea why the operationId changed.

[2021-06-09 13:39] AlkisFortuneFish commented on #117
Yeah, we're not touching System.Diagnostics.Activity anywhere as far as I can see. We need this sorted however, so what are the next steps to debug it? I have been directed here from a support ticket, so I'm not sure where I could take it from here otherwise.

[2021-06-09 17:37] yantang-msft commented on #117
You can generate the build yourself and try debug.
[This](https://github.com/microsoft/ApplicationInsights-ServiceFabric/blob/master/src/ApplicationInsights.ServiceFabric.Native.Shared/DependencyTrackingModule/ServiceRemotingClientEventListener.cs#L87) is where the "dependency" telemetry is generated, and [this](https://github.com/microsoft/ApplicationInsights-ServiceFabric/blob/master/src/Applica

[2021-06-14 22:24] AlkisFortuneFish commented on #117
Now I've had a bit of time allocated to look into this and managed to make the remote debugger work for the first time ever (why on earth is it considered acceptable not to be able to debug if you have multiple instances of the same SF application on the cluster and to silently fail if you do try!?), I have some findings.

The activity Id is correctly passed from caller to receiver, the ParentId i

[2021-06-16 16:40] AlkisFortuneFish commented on #117
Poke. If you do not have the time to look into this let me know to re-engage with the support request and get some Microsoft resources that way, I just need to know.

[2021-06-16 17:02] yantang-msft commented on #117
@AlkisFortuneFish so the `operation_parentId` is set, but is it set correctly to match the `id` of the parent? If not, you can reengage the support or file issue under this repo: https://github.com/microsoft/ApplicationInsights-dotnet
The OperationContext is set when `StartOperation` gets called [here](https://github.com/microsoft/ApplicationInsights-ServiceFabric/blob/master/src/ApplicationInsigh

[2021-06-18 22:50] AlkisFortuneFish commented on #117
Ok, I think I've got to the bottom of this. There are a few different issues here, which is what made this difficult to track down.

1. My initialization on the ASPNetCore side is not correct. Creating a TelemetryConfiguration, feeding it into the tracking module initialization and then calling AddApplicationInsightsTelemetry() causes a disconnect between request tracking and dependency tracking.

[2021-06-18 23:52] yantang-msft commented on #117
I'm glad that you found where it went wrong and get it fixed.
BTW, for # 2, I would imagine the id format is gracefully handled. i.e., the operationId/operation_ParentId are all in new/old format and can be correlated correctly
for # 3, I think the TelemetryInitializer precedence strategy is first one wins, so # 3 might not be a real problem.

Anyways, this project is in maintenance mode, if the o

[2021-06-19 15:49] AlkisFortuneFish commented on #117
I'd have hoped that it's gracefully handled, as the documentation would suggest, but it does not appear to be entirely the case, if the Id format is W3C and the incoming Id is not, StartOperation in 2.17.0 generates a new Id instead of propagating what was passed in.
Number 3 doesn't sound like it should be problematic but I did test it and it is. I explicitly tested with and without the extra ini

[2022-06-01 08:46] enicky opened #118 "ApplicationInsights broken on multi - node setup"
I currently have the following setup :
- Local Service Fabric : Code Version  9.0.1017.9590
- Microsoft.ApplicationInsights.ServiceFabric.Native 2.3.1
- Microsoft.Applicationinsights 2.20.0

I also setup the following to have a workaround to keep the correlation working on the ServiceFabric :
[code]
This "works" when I use a local development setup with a single node :
![2022-05-31 10_07_27-End-to

[2022-08-01 18:10] microsoft-github-policy-service[bot] opened #120 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 19:12] #120 closed